table{
	font-family: 'thai_sans_lite';	
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.no{
	width: 100px;
}
.permit{
	width: 300px;
}

.begin_date,.final_date{
	width: 300px;
}

.table thead>tr>th{
	text-align: center;
}

.table tbody>tr>td{
	text-align: center;
}