<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/customer-officer_documents.css" type="text/css" media="screen" charset="utf-8">

	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/process_function.js"></script>

	  
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>



	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/"> หน้าหลัก </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="" style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->


		<!-- <div class="col-md-12 col-md-offset-2" style="margin:0; padding:0"> -->
			<div class="content">
				<div class="subContent">

				
					<div class="span3">
							<p style="display:inline"> สวัสดี, คุณ  </p>
							<p style="display:inline" name="name">{{user.username}} </p>
						<ul class="process">
							<li><a href="#register_request_list" 
								onclick="register_request_listFunction()">  กระบวนการขอขึ้นทะเบียน </a></li>
							<li><a>  กระบวนการขอผลิต</a></li>
							<li><a>  กระบวนการขอนำเข้า</a></li>
							<li><a>  กระบวนการขอครอบครอง</a></li>
							<li><a>  กระบวนการขอส่งออก</a></li>
							<li><a>  กระบวนการขอแสดงตัวอย่าง</a></li>
						</ul>
					</div>

					<div id="intro_officer" class="span6">
						<H1> ขอเอกสาร </H1> 
						</br>  <p p style="text-indent:0in"> ผู้ประกอบการสามารถเลือก ยื่นคำขอเอกสารเกี่ยวกับวัตถุอันตราย
					ได้ตามกระบวนดังต่อไปนี้
						 </p>
						 <ul style="font-size:18px; ">
						 	<li>  กระบวนการขอขึ้นทะเบียน </li>
						 	<li>  กระบวนการขอผลิต </li>
							<li>  กระบวนการขอนำเข้า </li>
							<li> กระบวนการขอครอบครอง </li>
							<li>  กระบวนการขอส่งออก </li>
							<li>  กระบวนการขอแสดงตัวอย่าง </li>
						</ul>

						<p> โดยที่ เจ้าหน้าที่ แต่ละส่วน จะ สามารดูเอกสาร ที่ผู้ประกอบการ ยื่น
						 ทำการพิจารณา อนุมัติ/ ไม่อนุมัติ เอกสาร ได้ตามความเหมาะสม </p>

						 <!-- <a id="manual_officer" style="float:right; font-size:19px;"> คู่มือการใช้งาน </a> -->
					</div>
					

					<div id="register_request_list" class="span6"  style="overflow-y: auto;" >
						<H1>  กระบวนการขอขึ้นทะเบียน </H1>
						<a href="/create/1"  data-toggle="tooltip"  title="ใบคำขออนุญาตขึ้นทะเบียน" ><img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png"></a>
						<table class="table table-striped">
	  							<thead>
								    <tr>
								    
								      <th class="No_permit"> หมายเลขทะเบียน </th>
								      <th class="date1"> วันที่ </th>
								      <th class="status"> สถานะ </th>
								      <th class="mange" style="width:150px;"> แก้ไข/ต่ออายุ/ใบแทน </th>
								      <th class="type"> ประเภทงาน </th>
								      <th class="permit_view"> ใบอนุญาต </th>

								    								    </tr>
								 </thead>

								   <tbody>
								    {% for form_obj in forms %}
								    <tr>
							
									<td class="No_permit"># {{ form_obj.id }}</td>
									<td class="date1">{{ form_obj.date }}</td>
									<td class="status">
										{% if form_obj.formType.autherize_number == form_obj.status %}
										{{'Approve'}}
										{% endif %}
										{% if form_obj.status == -1 %}
										{{'Reject'}}
										{% endif %}
										{% if form_obj.formType.autherize_number != form_obj.status and form_obj.status != -1 %}
										{{'Pending'}}
										{% endif %}
									</td>
										<td class="mange">
										{%if 'request' in form_obj.formType.name %}
										{%if form_obj.formType.autherize_number == form_obj.status%}
										<a href="/modify/{{ form_obj.id }}"  id="modify_link" data-toggle="tooltip"title="ขอแก้ไข"><img src="{{ STATIC_URL }}img/icon/Document-Edit-32.png"></a>
								      	<a href="/extend/{{ form_obj.id }}"  id="extend_link" data-toggle="tooltip" title="ขอต่ออายุ"><img src="{{ STATIC_URL }}img/icon/Document-Exchange-02-32.png"></a>

								      	<a  href="/substitute/{{ form_obj.id }}"  id="substitue_link"  data-toggle="tooltip"  title="ขอใบแทน"><img src="{{ STATIC_URL }}img/icon/Agreement-32.png" ></a>
								      	{% endif %}
								      	{% endif %}
								      </td>


								      <td class="type">{{form_obj.formType.name}}</td>

								      <td class="permit_view">
								      {% if form_obj.formType.autherize_number == form_obj.status %}
								      <a href="/form/{{ form_obj.id }}"  id="permit_link"  data-toggle="tooltip"  title="ดูใบอนุญาต"><img src="{{ STATIC_URL }}img/icon/Certificate-02-32.png"></a> 
								      {% endif %}
								  	</td>
								  	</tr>

									{% endfor %}

								  </tbody>
						</table>
					</div>
				</div>

			</div>
		<!-- </div> -->


	</body>
</html>