<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/customer&officer_documents.css" type="text/css" media="screen" charset="utf-8">

	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/process_function.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop">
						<li class="login dropdown pull-right" style = " padding-left: 0px;">

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: -40px;">ขอเอกสาร</a>
							<ul class="dropdown-menu" style="padding-left: 15px; padding-right: 15px; 
							padding-top: 15px;">
								<li><h2>ขอเอกสาร</h2></li>

								
							</ul>
						</li>
						<li class="register">
								<a href="services.html"> ข้อมูลส่วนตัว </a>
						</li>


						</ul>
					</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->


		<!-- <div class="col-md-12 col-md-offset-2" style="margin:0; padding:0"> -->
			<div class="content">
				<div class="subContent">

				
					<div class="span3">
							<h4> สวัสดี,  คุณ .... </h4>
						<ul class="process">
							<li><a href="#register_request_list" 
								onclick="register_request_listFunction()">  กระบวนการขอขึ้นทะเบียน </a></li>
							<li><a>  กระบวนการขอผลิต</a></li>
							<li><a>  กระบวนการขอนำเข้า</a></li>
							<li><a>  กระบวนการขอครอบครอง</a></li>
							<li><a>  กระบวนการขอส่งออก</a></li>
							<li><a>  กระบวนการขอแสดงตัวอย่าง</a></li>
						</ul>
					</div>

					<div id="register_request_list" class="span6"  >
						<H1>  กระบวนการขอขึ้นทะเบียน </H1>
						<a href="/form/1"><img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png"></a>
						<table class="table table-striped">
	  							<thead>
								    <tr>
								      <th class="No"> No. </th>
								      <th class="No_permit"> หมายเลขทะเบียน </th>
								      <th class="date1"> วันที่ </th>
								      <th class="status"> สถานะ </th>
								      <th class="mange"> Manage </th>
								    </tr>
								 </thead>

								   <tbody>
								    {% for form_obj in forms %}

								    <tr>
								    <td class="No">{{ form_obj }}</td>
									<td class="No_permit">{{ form_obj.id }}</td>
									<td class="date1">Somedate</td>
									<td class="status">{{ form_obj.status }}</td>
										<td class="mange">

								      	<a href="#"  id="modify_link"><img src="{{ STATIC_URL }}img/icon/Document-Edit-32.png"></a>
								      	<a href="#"  id="extend_link"><img src="{{ STATIC_URL }}img/icon/Document-Exchange-02-32.png"></a>
								      	<a href="#"  id="substitue_link"><img src="{{ STATIC_URL }}img/icon/Certificate-02-32.png"></a>
								      </td>
								  	</tr>
									{% endfor %}

								  </tbody>
						</table>
					</div>
				</div>

			</div>
		<!-- </div> -->


	</body>
</html>