<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->

			<div class="content">
				<h1> คำขออนุญาตส่งออกวัตถุอันตราย</h1>
				<h2> วอ. ๕</h2>
		
					<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
						
					
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									
									<p>วันที่</p><input readonly type="TEXT" class="form-control" id="dayBox" name="dayBox" value="{{date.day}}">
									
									<p>เดือน</p><input readonly type="TEXT" class="form-control" id="monthBox" name="monthBox" value="{{date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control" id="yearBox" name="yearBox" value="{{date.year}}">
									

								</div>
							<!-- </div> -->
							<!-- <div class="form-group infoLeft">	

								<p class="code" >ใบสำคัญการขึ้นทะเบียนเลขที่</p>
								<input type="TEXT" class="form-control" name="codeBox" id="codeBox" value="">	
							</div> -->

							
							<div class="form-group infoRight">
								
								<p>ข้าพเจ้า</p><input type="TEXT" class="form-control" name="nameBox" id="nameBox" value="">
								
								<p>อายุ</p><input type="TEXT" class="form-control" name="ageBox" id="ageBox" value=""><p> ปี </p>
								
								<p>สัญชาติ</p><input type="TEXT" class="form-control" name="regionBox" id="regionBox" value="">
								

							</div>


							<div class="form-group infoLeft">	</div>

							<div class="form-group infoLeft">

								<p>เลขประจำตัวผู้เสียภาษีอากร</p><input type="TEXT" class="form-control" name="code_taxBox" id="code_taxBox" value="" style="width: 250px">

								</br>
								
								<p>สถานที่ติต่อผู้ขอส่งออก</p>

								<p>ตั้งอยู่บ้านเลขที่</p>
								<input type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" value="">
								

								<p>หมู่ที่</p>
								<input type="TEXT" class="form-control" name="mo_contactBox" id="mo_contactBox" value="">

								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" value="">

								<br/>


								<p>ถนน</p>
								<input type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" value="">

								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" value="">
								<br/>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" value="">

								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" name="province_contactBox" id="province_contactBox" value="">

								<br/>

								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" value="">

								
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" value="">
								<br/>
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" name="fax_contactBox" id="fax_contactBox" value="">

								<br/></br>
								<p>สถานที่เก็บวัตถุอันตรายชื่อ</p>
								<input type="TEXT" class="form-control" id="name_storage" name="name_storage" value="" style="width: 300px">

								<br>
								<p> ตั้งอยู่เลขที่ </p>
								<input type="TEXT" class="form-control" id="address_storage" id="address_storage" value="" style="width: 60px">
								
								<p>หมู่ที่</p>
								<input type="TEXT" class="form-control" id="mo_storage" name="mo_storage" value="" style="width: 60px">

								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_storage" name="soi_storage" value="">

								<br>
								<p>ถนน</p>
								<input type="TEXT" class="form-control" id="street_storage" name="street_storage" value="">

								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_storage" name="address_storage" value="">
								
								</br>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_storage" name="canton_storage" value="">
								
								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_storage" name="province_storage" value="">
								
								</br>
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_storage" name="mobile_storage" value="">
							
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_storage" name="fax_storage" value="">



								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบการเก็บรักษา <br>(ในกรณีที่มีใบประกาศฯ ออกตามความในมาตรา ๒๐(๒) แห่งพระราชบัญญัติวัตถุอันตราย <br> พ.ศ. ๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p>
									<br><br>
									<textarea id="specialistBox" name="specialistBox" rows="2" style="width: 600px" value="กรณีที่มีมากกว่า ๑ คน กรุณาระบุเป็นข้อๆ"></textarea>
								</br><br>

								<p>ขออนุญาตส่งออกวัตถุอันตายตามรายละเอียด ดังต่อไปนี้</p>
								</br><br>
									<p class="name_hazard">ชื่อวัตถุอันตราย สูตรเคมี(๑) และอัตราส่วน</p>
									<br><br>
									<textarea name="hazardousBox" id="hazardousBox" rows="3" style="width: 600px" value=""></textarea>
								</br>

									<p>ลักษณะและสูตร(Formulation)(๒)</p>
									<input type="TEXT" class="form-control" id="formulaBox" name="formulaBox" value="">
									</br>
									<p>ชื่อทางการค้า(ถ้ามี)</p>
									<input type="TEXT" class="form-control" id="marketingBox" name="marketingBox" value="">
									</br>

									<p class="hazard_name">ทะเบียนเลขที่</p>
									<input type="TEXT" class="form-control" id="codeBox" value=""  type="TEXT" name="codeBox">
									</br>

									<p>ประเทศปลายทาง</p>
									<input type="TEXT" class="form-control" id="countryBox" name="countryBox" value="">
									</br>
									<p>ปริมาณ</p>
									<input type="TEXT" class="form-control" id="quantityBox" name="quantityBox" placeholder="กรุณาระบุหน่วย เช่น ลิตร หรือ กรัม">
									</br>
									<p>หมายเหตุ</p><br><br>
								
              					
              					<textarea   name="notationBox" id="notationBox" rows="2" 
              					value="" style="font-size:20px; width:565px; height:100px; background: none repeat scroll 0 0 #FAFAFA;"> </textarea>
								<br/> <br/>

								</br></br>
									<p> พร้อมกันนี้ข้าพเจ้าได้ส่งมอบเอกสารประกอบคำขออนุญาต ดังต่อไปนี้ </p>
									</br></br>
									<div class="doc_zone">

								<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									  <div class="infoRight">
						
									    <input id="identity" name="identity"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
								    
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
									     <div class="infoRight">
						
									    <input id="person" name="person"   value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม(ภ.พ.๒๐)
									      <div class="infoRight">
						
									    <input id="tax" name="tax"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									  

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบสำคัญการขึ้นทะเบียนวัตถุอันตราย
									   <div class="infoRight">
						
									    <input id="register" name="register"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาผลการวิเคราะห์วัตถุอันตราย
									   <div class="infoRight">
						
									    <input id="analysis" name="analysis"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนที่สังเขปแสดงสถานที่เก็บรักษาวัตถุอัตรายและบริเวณข้างเคียง
									    <div class="infoRight">
						
									    <input id="map" name="map"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									   <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนผังภายในของอาคารที่ใช้เป็นสถานที่เก็บรักษาวัตถุอันตราย
									     <div class="infoRight">
						
									    <input id="mapIn" name="mapIn"  value=""type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>(ในกรณีที่มีประกาศฯ ออกตามความในมาตรา๒๐(๑) แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ ให้สถานที่เก็บรักษาวัตถุอันตรายต้องเป็นไปตามหลักเกณฑ์ที่กำหนด)</p>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงความรู้ความชำนาญของผู้เชี่ยวชาญหรือบุคลากรเฉพาะ
									     <div class="infoRight">
						
									    <input id="expert" name="expert"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>รับผิดชอบสำหรับการเก็บรักษา</p>
									</p></br></br>
									
									 
									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงลักษณะภาชนะบรรจุที่จะใช้และการหุ้มห่อหรือผูกมัด
									     <div class="infoRight">
						<!-- -->
									    <input id="container" name="container"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>ภาชนะบรรจุวัตถุอันตราย</p>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  เอกสารแสดงข้อมูลความปลอดภัยของวัตถุอันตราย
									    <div class="infoRight">
						
									   

									    <input id="secure" name="secure"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>



									</br></br><p>มาเพื่อประกอบการพิจารณาด้วย</p>
								</br>
							

								</div><!--doc zone-->
								<div class="button buttonRequest">
								<button id="submit" class="btn btn-inverse" type="submit" style="height:30px; width: 80px;">ส่ง</button>

								<button id="reset" class="btn btn-inverse" type="reset" style="height:30px; width: 80px;">รีเซ็ต</button>
							</div>
								</div><!--button->
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		


	</body>
</html>
