<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->

			<div class="content">
				<h1> คำขออนุญาตส่งออกวัตถุอันตราย</h1>
				<h2> วอ. ๕</h2>
		
				<form>
					
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									
									<p>วันที่</p><input readonly type="TEXT" class="form-control" id="dayBox" name="dayBox" placeholder="{{date.day}}">
									
									<p>เดือน</p><input readonly type="TEXT" class="form-control" id="monthBox" name="monthBox" placeholder="{{date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control" id="yearBox" name="yearBox" placeholder="{{date.year}}">
									

								</div>
							<!-- </div> -->
							<div class="form-group infoLeft">	

								<p class="code" >ใบสำคัญการขึ้นทะเบียนเลขที่</p>
								<input type="TEXT" class="form-control" name="codeBox" id="codeBox" placeholder="">	
							</div>

							
							<div class="form-group infoRight">
								
								<p>ข้าพเจ้า</p><input type="TEXT" class="form-control" name="nameBox" id="nameBox" placeholder="ชื่อ-นามสกุล">
								
								<p>อายุ</p><input type="TEXT" class="form-control" name="ageBox" id="ageBox" placeholder=""><p> ปี </p>
								
								<p>สัญชาติ</p><input type="TEXT" class="form-control" name="regionBox" id="regionBox" placeholder="">
								

							</div>


							<div class="form-group infoLeft">	</div>

							<div class="form-group infoLeft">

								<p>เลขประจำตัวผู้เสียภาษีอากร</p><input type="TEXT" class="form-control" name="code_taxBox" id="code_taxBox" placeholder="" style="width: 250px">

								</br>
								
								<p>สถานที่ติต่อผู้ขอส่งออก</p>

								<p>ตั้งอยู่บ้านเลขที่</p>
								<input type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" placeholder="">
								

								<p>หมู่ที่</p>
								<input type="TEXT" class="form-control" name="mo_contactBox" id="mo_contactBox" placeholder="">

								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" placeholder="">

								<br/>


								<p>ถนน</p>
								<input type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" placeholder="">

								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" placeholder="">
								<br/>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" placeholder="">

								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" name="province_contactBox" id="province_contactBox" placeholder="">

								<br/>

								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" placeholder="">

								
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" placeholder="">
								<br/>
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" name="fax_contactBox" id="fax_contactBox" placeholder="">

								<br/></br>
								<p>สถานที่เก็บวัตถุอันตรายชื่อ</p>
								<input type="TEXT" class="form-control" id="name_storage" name="name_storage" placeholder="" style="width: 300px">

								<br>
								<p> ตั้งอยู่เลขที่ </p>
								<input type="TEXT" class="form-control" id="address_storage" id="address_storage" placeholder="" style="width: 60px">
								
								<p>หมู่ที่</p>
								<input type="TEXT" class="form-control" id="mo_storage" name="mo_storage" placeholder="" style="width: 60px">

								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_storage" name="soi_storage" placeholder="">

								<br>
								<p>ถนน</p>
								<input type="TEXT" class="form-control" id="street_storage" name="street_storage" placeholder="">

								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_storage" name="address_storage" placeholder="">
								
								</br>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_storage" name="canton_storage" placeholder="">
								
								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_storage" name="province_storage" placeholder="">
								
								</br>
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_storage" name="mobile_storage" placeholder="">
							
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_storage" name="fax_storage" placeholder="">



								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบการเก็บรักษา <br>(ในกรณีที่มีใบประกาศฯ ออกตามความในมาตรา ๒๐(๒) แห่งพระราชบัญญัติวัตถุอันตราย <br> พ.ศ. ๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p>
									<br><br>
									<textarea id="specialistBox" name="specialistBox" rows="2" style="width: 600px" placeholder="กรณีที่มีมากกว่า ๑ คน กรุณาระบุเป็นข้อๆ"></textarea>
								</br><br>

								<p>ขออนุญาตส่งออกวัตถุอันตายตามรายละเอียด ดังต่อไปนี้</p>
								</br><br>
									<p class="name_hazard">ชื่อวัตถุอันตราย สูตรเคมี(๑) และอัตราส่วน</p>
									<br><br>
									<textarea name="hazardousBox" id="hazardousBox" rows="3" style="width: 600px" placeholder=""></textarea>
								</br>

									<p>ลักษณะและสูตร(Formulation)(๒)</p>
									<input type="TEXT" class="form-control" id="formulaBox" name="formulaBox" placeholder="">
									</br>
									<p>ชื่อทางการค้า(ถ้ามี)</p>
									<input type="TEXT" class="form-control" id="marketingBox" name="marketingBox" placeholder="">
									</br>
									<p>ประเทศปลายทาง</p>
									<input type="TEXT" class="form-control" id="countryBox" name="countryBox" placeholder="">
									</br>
									<p>ปริมาณ</p>
									<input type="TEXT" class="form-control" id="quantityBox" name="quantityBox" placeholder="กรุณาระบุหน่วย เช่น ลิตร หรือ กรัม">
									</br>
									<p>หมายเหตุ</p><br><br>
									<textarea name="textarea" id="notationBox" name="notationBox" rows="2" style="width: 600px"></textarea>


									

								

								</br></br>
									<p> พร้อมกันนี้ข้าพเจ้าได้ส่งมอบเอกสารประกอบคำขออนุญาต ดังต่อไปนี้ </p>
									</br></br>
									<div class="doc_zone">

									<p>
									  <input id="identityCheck" name="identityCheck" class="checkbox" type="checkbox" value="">
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									   <div class="input-append infoRight">
									    <input readonly id="identity" name="identity" type="text" style="width:200px; height:30px;"> 
									     <button id="identity" name="identity" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									 
								    
									</p></br></br>

									<p>
									  <input id="company_identityCheck" name="company_identityCheck" class="checkbox"type="checkbox" value="">
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นิติบุคคล
									   <div class="input-append infoRight">
									    <input readonly id="company_identity" name="company_identity" type="text" style="width:200px; height:30px;"> 
									     <button id="company_identity" name="company_identity" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									 
									</p></br></br>


									<p>
									  <input id="copytaxcheck" name="copytaxcheck" class="checkbox"type="checkbox" value="">
									  สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม
									   <div class="input-append infoRight">
									    <input readonly id="copytax" name="copytax" type="text" style="width:200px; height:30px;"> 
									     <button id="copytax" name="copytax" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									   
									</p></br></br>


									<p>
									  <input id="copyregisterCheck" name="copyregisterCheck" class="checkbox"type="checkbox" value="">
									สำเนาใบสำคัญการขึ้นทะเบียนวัตถุอันตราย
									 <div class="input-append infoRight">
									    <input readonly id="copyregister" name="copyregister" type="text" style="width:200px; height:30px;"> 
									     <button id="copyregister" name="copyregister" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									 <br/>
									  
									</p></br></br>

									<p>
									  <input id="copyanalysisCheck" name="copyanalysisCheck" class="checkbox"type="checkbox" value="">
									สำเนาผลวิเคราะห์วัตถุอันตราย
									 <div class="input-append infoRight">
									    <input readonly id="copyanalysis" name="copyanalysis" type="text" style="width:200px; height:30px;"> 
									     <button id="copyanalysis" name="copyanalysis" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									 
									</p></br></br>

									<p>
									  <input id="keepmapCheck" name="keepmapCheck" class="checkbox"type="checkbox" value="">
									แผนที่สังเขปแสดงสถานที่เก็บรักาวัตถุอันตรายและบริเวณข้างเคียง
									 <div class="input-append infoRight">
									    <input readonly id="keepmap" name="keepmap" type="text" style="width:200px; height:30px;"> 
									     <button id="keepmap" name="keepmap" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>

									
									</p></br></br>

									<p>
									  <input id="buildingmapCheck" name="buildingmapCheck" class="checkbox"type="checkbox" value="">
									แผนผังภายในของอาคารที่ใช้เป็นสถานที่เก็บรักษาวัตถุอันตราย <br>
									<p style="margin-left: 30">(ในกรณีที่มีใบประกาศฯออกตามความในมาตรา ๒๐(๑) <p/><br>
									<p style="margin-left: 30">แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ. ๒๕๓๕ </p><br>
									<p style="margin-left: 30">ให้สถานที่เก็บรักษาวัตถุอันตรายต้องเป็นไปตามหลักเกณฑ์ที่กำหนด)</p>
									 <div class="input-append infoRight">
									    <input readonly id="buildingmap" name="buildingmap" type="text" style="width:200px; height:30px;"> 
									     <button id="buildingmap" name="buildingmap" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									
									</p></br></br>

									<p>
									  <input id="knowledgeCheck" name="knowledgeCheck" class="checkbox"type="checkbox" value="">
									เอกสารแสดงความรู้ความชำนาญของผู้เชี่ยวชาญ<br>
									<p style="margin-left: 30">หรือบุคลากรเฉพาะรับผิดชอบสำหรับการเก็บรักษา</p>
									 <div class="input-append infoRight">
									    <input readonly id="knowledge" name="knowledge" type="text" style="width:200px; height:30px;"> 
									     <button id="knowledge" name="knowledge" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									 
									</p></br></br>

									<p>
									  <input id="containerCheck" name="containerCheck" class="checkbox"type="checkbox" value="">
									เอกสารแสดงลักษณะภาชนะบรรจุที่จะใช้และการหุ้มห่อ<br>
									<p style="margin-left: 30">หรือผูกมัดภาชนะบรรจุวัตถุอันตราย</p>
									 <div class="input-append infoRight">
									    <input readonly id="container" name="container" type="text" style="width:200px; height:30px;"> 
									     <button id="container" name="container" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									 
									</p></br></br>

									<p>
									  <input id="securityCheck" name="securityCheck" class="checkbox"type="checkbox" value="">
									เอกสารแสดงข้อมูลความปลอดภัยของวัตถุอันตราย <br>
									<p style="margin-left: 30">เช่น Materials Safety Data Sheet</p>
									 <div class="input-append infoRight">
									    <input readonly id="security" name="security" type="text" style="width:200px; height:30px;"> 
									     <button id="security" name="security" class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									 
									</p></br></br>

									<p>
									  <input id="othersCheck" name="othersCheck" class="checkbox"type="checkbox" value="">
									อื่นๆ (ระบุ)
									
									  <div class="input-append infoRight">
									    <input readonly id="others" name="others" id="others_doc" name="others_doc" type="text" style="width:200px; height:30px; display:float-left"> 
									     <button  id="others" name="others" class="btn btn-warning" type="button" style="height:30px;">Browes</button>
									 </div>
									</p>

									</br></br><p>มาเพื่อประกอบการพิจารณาด้วย</p>
								</br>
								<!-- 	<p>หมายเเหตุ:
									</br>(๑) วัตถุอันตรายในความรับผิดชอบของสำนักงานคณะกรรมการอาหารและยา กรมวิชาการเกษตร กรมประมง และกรมปศุสัตว์ไม่ต้องระบุสารเคมี
									</br>(๒) วัตถุอันตรายในความรับผิดชอบของกรมโรงงานอุตสาหกรรมไม่ต้องระบุสูตร(Formulation)
									</br>(๓) เอกสารประกอบคำขออนุญาตดังกล่าวข้างต้นต้องแนบเฉพาะการขออนุญาตครั้งแรกหรือในกรณีที่เอกสารประกอบคำขออนุญาตมีการเปลี่ยนแปลงข้อความไปจากฉบับเดิมที่ได้เคยมอบไว้
									</br> (๔) ให้กดเลือกที่กล่องสี่เหลี่ยมหน้าข้อความที่ต้องการ
								</p>

								</br></br>
								<hr>

								<br/></br>
								<p  >สถานที่เก็บวัตถุอันตรายแห่งที่ 2 ชื่อ</p>
								<input type="TEXT" class="form-control" id="hazard_address2" name="hazard_address2" placeholder="">

								

								</br>
								<p> ตั้งอยู่เลขที่ </p>
								<input type="TEXT"  id="hazard_address_contactBox2" name="hazard_address_contactBox2" placeholder="">
								

								<p class="hazard_mo_contact2" >หมู่ที่</p>
								<input type="TEXT"  id="hazard_mo_contactBox2" name="hazard_mo_contactBox2" placeholder="">

								<p class="hazard_soi_contact2" >ตรอก/ซอย</p>
								<input type="TEXT"  id="hazard_soi_contactBox2" name="hazard_soi_contactBox2" placeholder="">

								<br/>


								<p class="hazard_street_contact2" >ถนน</p>
								<input type="TEXT"  id="hazard_street_contactBox2" name="hazard_street_contactBox2" placeholder="">

								<p class="hazard_district_contact2" >ตำบล/แขวง</p>
								<input type="TEXT" id="hazard_district_contactBox2" name="hazard_district_contactBox2" placeholder="">
								<br/>
								<p class="hazard_canton_contact2" >อำเภอ/เขต</p>
								<input type="TEXT"  id="hazard_canton_contactBox2" name="hazard_canton_contactBox2" placeholder="">

								<p class="hazard_mobile_contact2" >โทรศัพท์</p>
								<input type="TEXT"  id="hazard_mobile_contactBox2" name="hazard_mobile_contactBox2" placeholder="">
								<br/>
								<p class="hazard_fax_contact2" >โทรสาร</p>
								<input type="TEXT" id="hazard_fax_contactBox2" name="hazard_fax_contactBox2" placeholder="">

								<p class="hazard_email_contact2" >Email address</p>
								<input type="TEXT" id="hazard_email_contactBox2" name="hazard_email_contactBox2" placeholder="">

								<br/></br>
								<p  >สถานที่เก็บวัตถุอันตรายแห่งที่ 3 ชื่อ</p>
								<input type="TEXT" id="hazard_addresss" name="hazard_addresss" placeholder="">

								

								</br>
								<p> ตั้งอยู่เลขที่ </p>
								<input type="TEXT"  id="hazard_address_contactBox3" name="hazard_address_contactBox3" placeholder="">
								

								<p class="hazard_mo_contact3" >หมู่ที่</p>
								<input type="TEXT"  id="hazard_mo_contactBox3" name="hazard_mo_contactBox3" placeholder="">

								<p class="hazard_soi_contact3" >ตรอก/ซอย</p>
								<input type="TEXT"  id="hazard_soi_contactBox3" name="hazard_soi_contactBox3" placeholder="">

								<br/>


								<p class="hazard_street_contact3" >ถนน</p>
								<input type="TEXT"  id="hazard_street_contactBox3" name="hazard_street_contactBox3" placeholder="">

								<p class="hazard_district_contact3" >ตำบล/แขวง</p>
								<input type="TEXT" id="hazard_district_contactBox3" name="hazard_district_contactBox3" placeholder="">
								<br/>
								<p class="hazard_canton_contact3" >อำเภอ/เขต</p>
								<input type="TEXT"  id="hazard_canton_contactBox3" name="hazard_canton_contactBox3" placeholder="">

								<p class="hazard_mobile_contact3" >โทรศัพท์</p>
								<input type="TEXT"  id="hazard_mobile_contactBox3" name="hazard_mobile_contactBox3" placeholder="">
								<br/>
								<p class="hazard_fax_contact3" >โทรสาร</p>
								<input type="TEXT" id="hazard_fax_contactBox3" name="hazard_fax_contactBox3" placeholder="">

								<p class="hazard_email_contact3" >Email address</p>
								<input type="TEXT" id="hazard_email_contactBox3" name="hazard_email_contactBox3" placeholder=""> -->


								</div><!--doc zone-->
								<div class="button buttonRequest">
								<button id="submit" class="btn btn-inverse" type="submit" style="height:30px; width: 80px;">ส่ง</button>

								<button id="reset" class="btn btn-inverse" type="reset" style="height:30px; width: 80px;">รีเซ็ต</button>
							</div>
								</div><!--button->
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		


	</body>
</html>
