<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			
			$('.carousel').carousel('cycle');
			$('#modal-button').click(function(e){
			      e.preventDefault();
			      window.location = "reject?comment=" + $("#comment").val()
			});
		});
	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>
					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->

			<div class="content">
				<h1>คำขออนุญาตส่งออกวัตถุอันตราย</h1>
				<h2> วอ. ๕</h2>

		
				<form>
					
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									<p >วันที่</p><input disabled type="TEXT" class="form-control" id="dayBox" name="dayBox" value="{{ form.date.date.day }}">
									
									<p >เดือน</p><input disabled type="TEXT" class="form-control" id="monthBox" name="monthBox" value="{{ form.date.date.month }}">
									
									<p >ปี</p><input disabled type="TEXT" class="form-control" id="yearBox" name="yearBox" value="{{ form.date.date.year }}">
								</div>
							<!-- </div> -->

						
<!-- 
							<div class="form-group infoLeft">
								<p>ใบสำคัญการขึ้นทะเบียนเลขที่</p><input disabled type="TEXT" class="form-control" id="codeBox" name="codeBox" value="{{data.codeBox}}">
							</div> -->
							
							<div class="form-group infoRight">
								
								<p>ข้าพเจ้า</p><input disabled type="TEXT" class="form-control" name="nameBox" id="nameBox" value="{{data.nameBox}}">
								
								<p>อายุ</p><input disabled type="TEXT" class="form-control" name="ageBox" id="ageBox" value="{{data.ageBox}}"><p> ปี </p>
								
								<p>สัญชาติ</p><input disabled type="TEXT" class="form-control" name="regionBox" id="regionBox" value="{{data.regionBox}}">
								

							</div>


							<div class="form-group infoLeft">	</div>

							<div class="form-group infoLeft">

								<p>เลขประจำตัวผู้เสียภาษีอากร</p><input disabled type="TEXT" class="form-control" name="code_taxBox" id="code_taxBox" value="{{data.code_taxBox}}" style="width: 250px">

								</br>
								
								<p>สถานที่ติต่อผู้ขอส่งออก</p>

								<p>ตั้งอยู่บ้านเลขที่</p>
								<input disabled type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" value="{{data.address_contactBox}}">
								

								<p>หมู่ที่</p>
								<input disabled type="TEXT" class="form-control" name="mo_contactBox" id="mo_contactBox" value="{{data.mo_contactBox}}">

								<p>ตรอก/ซอย</p>
								<input disabled type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" value="{{data.soi_contactBox}}">

								<br/>


								<p>ถนน</p>
								<input disabled type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" value="{{data.street_contactBox}}">

								<p>ตำบล/แขวง</p>
								<input disabled type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" value="{{data.district_contactBox}}">
								<br/>
								<p>อำเภอ/เขต</p>
								<input disabled type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" value="{{data.canton_contactBox}}">

								<p>จังหวัด</p>
								<input disabled type="TEXT" class="form-control" name="province_contactBox" id="province_contactBox" value="{{data.province_contactBox}}">

								<br/>

								<p>รหัสไปรษณีย์</p>
								<input disabled type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" value="{{data.zip_contactBox}}">

								
								<p>โทรศัพท์</p>
								<input disabled type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" value="{{data.mobile_contactBox}}">
								<br/>
								<p>โทรสาร</p>
								<input disabled type="TEXT" class="form-control" name="fax_contactBox" id="fax_contactBox" value="{{data.fax_contactBox}}">

								<br/></br>
								<p>สถานที่เก็บวัตถุอันตรายชื่อ</p>
								<input disabled type="TEXT" class="form-control" id="name_storage" name="name_storage" value="{{data.name_storage}}" style="width: 300px">

								<br>
								<p> ตั้งอยู่เลขที่ </p>
								<input disabled type="TEXT" class="form-control" id="address_storage" id="address_storage" value="{{data.address_storage}}" style="width: 60px">
								
								<p>หมู่ที่</p>
								<input disabled type="TEXT" class="form-control" id="mo_storage" name="mo_storage" value="{{data.mo_storage}}" style="width: 60px">

								<p>ตรอก/ซอย</p>
								<input disabled type="TEXT" class="form-control" id="soi_storage" name="soi_storage" value="{{data.soi_storage}}">

								<br>
								<p>ถนน</p>
								<input disabled type="TEXT" class="form-control" id="street_storage" name="street_storage" value="{{data.street_storage}}">

								<p>ตำบล/แขวง</p>
								<input disabled type="TEXT" class="form-control" id="district_storage" name="address_storage" value="{{data.address_storage}}">
								
								</br>
								<p>อำเภอ/เขต</p>
								<input disabled type="TEXT" class="form-control" id="canton_storage" name="canton_storage" value="{{data.canton_storage}}">
								
								<p>จังหวัด</p>
								<input disabled type="TEXT" class="form-control" id="province_storage" name="province_storage" value="{{data.province_storage}}">
								
								</br>
								<p>โทรศัพท์</p>
								<input disabled type="TEXT" class="form-control" id="mobile_storage" name="mobile_storage" value="{{data.mobile_storage}}">
							
								<p>โทรสาร</p>
								<input disabled type="TEXT" class="form-control" id="fax_storage" name="fax_storage" value="{{data.fax_storage}}">



								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบการเก็บรักษา <br>(ในกรณีที่มีใบประกาศฯ ออกตามความในมาตรา ๒๐(๒) แห่งพระราชบัญญัติวัตถุอันตราย <br> พ.ศ. ๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p>
									<br><br>
									<textarea disabled id="specialistBox" name="specialistBox" rows="2" value="{{data.specialistBox}}" style="width: 600px"></textarea>
								</br><br>

								<p>ขออนุญาตส่งออกวัตถุอันตายตามรายละเอียด ดังต่อไปนี้</p>
								</br><br>
									<p class="name_hazard">ชื่อวัตถุอันตราย สูตรเคมี และอัตราส่วน</p>
									<br><br>
									<textarea disabled name="hazardousBox" id="hazardousBox" rows="3" value="{{data.hazardousBox}}" style="width: 600px"></textarea>
								</br>

									<p>ลักษณะและสูตร(Formulation)(๒)</p>
									<input disabled type="TEXT" class="form-control" id="formulaBox" name="formulaBox" value="{{data.formulaBox}}">
									</br>
									<p>ชื่อทางการค้า(ถ้ามี)</p>
									<input disabled type="TEXT" class="form-control" id="marketingBox" name="marketingBox" value="{{data.marketingBox}}">
									</br>

									<p class="hazard_name">ทะเบียนเลขที่</p>
									<input type="TEXT" class="form-control" id="codeBox" value="{{data.codeBox}}" disabled type="TEXT" name="codeBox">

								</br/>
									<p>ประเทศปลายทาง</p>
									<input disabled type="TEXT" class="form-control" id="countryBox" name="countryBox" value="{{data.countryBox}}">
									</br>
									<p>ปริมาณ</p>
									<input disabled type="TEXT" class="form-control" id="quantityBox" name="quantityBox" value="{{data.quantityBox}}">
									</br>
									<p>หมายเหตุ</p><br><br>
									<textarea disabled id="notationBox" name="notationBox" rows="2" value="{{data.notationBox}}" style="width: 600px"></textarea>

								<br/> <br/>
								
									<p>พร้อมกันนี้ข้าพเจ้าได้ส่งมอบเอกสารประกอบคำขออนุญาต ดังต่อไปนี้</p>

									</br></br>

									<div class="doc_zone">

									<p>
									  <input disabled id="identityCheck" name="identityCheck" class="checkbox"type="checkbox" value="">
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									  <div disabled class="input-append infoRight">
									    <!-- <input disabled type="text" style="width:200px; height:30px;">  -->
									    <button id="identity" name="identity" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>  
									 </div>
								    
									</p></br></br>

									<p>
									  <input disabled id="company_identityCheck" name="company_identityCheck" class="checkbox"type="checkbox" value="">
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
									    <div class="input-append infoRight">
									    <button id="company_identityCheck" name="company_identityCheck" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


									<p>
									  <input disabled id="copytaxcheck" name="copytaxcheck" class="checkbox"type="checkbox" value="">
									  สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม
									    <div class="input-append infoRight">
									     <button id="copytax" name="copytax" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

									<p>
									  <input disabled id="copyregisterCheck" name="copyregisterCheck" class="checkbox"type="checkbox" value="">
									  สำเนาใบสำคัญการขึ้นทะเบียนวัตถุอันตราย
									  <div class="input-append infoRight">
									     <button id="copyregister" name="copyregister" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

									<p>
									  <input disabled id="copyanalysisCheck" name="copyanalysisCheck" class="checkbox"type="checkbox" value="">
									  สำเนาผลการวิเคราะห์วัตถุอันตราย
									  <div class="input-append infoRight">
									     <button id="copyanalysis" name="copyanalysis" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

									<p>
									  <input disabled id="keepmapCheck" name="keepmapCheck" class="checkbox"type="checkbox" value="">
									  แผนที่สังเขปแสดงสถานที่เก็บรักษาวัตถุอัตรายและบริเวณข้างเคียง
									  <div class="input-append infoRight">
									     <button id="keepmap" name="keepmap" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

									<p>
									  <input disabled id="buildingmapCheck" name="buildingmapCheck" class="checkbox"type="checkbox" value="">
									  แผนผังภายในของอาคารที่ใช้เป็นสถานที่เก็บรักษาวัตถุอันตราย <br>
									<p style="margin-left: 30">(ในกรณีที่มีใบประกาศฯออกตามความในมาตรา ๒๐(๑) <p/><br>
									<p style="margin-left: 30">แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ. ๒๕๓๕ </p><br>
									<p style="margin-left: 30">ให้สถานที่เก็บรักษาวัตถุอันตรายต้องเป็นไปตามหลักเกณฑ์ที่กำหนด)</p>
									  <div class="input-append infoRight">
									    <button id="buildingmap" name="buildingmap" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									 
									</p></br></br>

									<p>
									  <input disabled id="knowledgeCheck" name="knowledgeCheck" class="checkbox"type="checkbox" value="">
									เอกสารแสดงความรู้ความชำนาญของผู้เชี่ยวชาญ<br>
									<p style="margin-left: 30">หรือบุคลากรเฉพาะรับผิดชอบสำหรับการเก็บรักษา</p>
									  <div class="input-append infoRight">
									     <button id="knowledge" name="knowledge" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>
									
									 
									<p>
									  <input disabled id="containerCheck" name="containerCheck" class="checkbox"type="checkbox" value="">
									เอกสารแสดงลักษณะภาชนะบรรจุที่จะใช้และการหุ้มห่อ<br>
									<p style="margin-left: 30">หรือผูกมัดภาชนะบรรจุวัตถุอันตราย</p>
									  <div class="input-append infoRight">
									    <button id="container" name="container" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


									<p>
									  <input disabled id="securityCheck" name="securityCheck" class="checkbox"type="checkbox" value="">
									 เอกสารแสดงข้อมูลความปลอดภัยของวัตถุอันตราย <br>
									  <div class="input-append infoRight">
									     <button id="security" name="security" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									<p style="margin-left: 30">เช่น Materials Safety Data Sheet</p>
									</p></br></br>



									<p>
									  <input disabled id="othersCheck" name="othersCheck" class="checkbox"type="checkbox" value="">
									อื่นๆ (ระบุ)
									  <div class="input-append infoRight">
									    <button id="others" name="others" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>






								</div><!--doc zone-->
								
								<div class="button buttonView">
									<!-- <button id="home" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> กลับหน้าหลัก </button> -->
									<a href="approved/" ><button id="submit" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> อนุมัติ </button></a>
									<button id="reset" class="btn btn-inverse" type="button" style="height:30px; width: 80px;" data-toggle="modal" href="#identify_customer_modal">  ไม่อนุมัติ </button>
									<div id="identify_customer_modal" class="modal hide fade">
										 <form id="modal-form">
										  <div class="modal-header">
										    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										    <h3>  เหตุผลที่เอกสารผู้ประกอบการไม่ผ่านการอนุมัติ </h3>
										  </div>
										  <div class="modal-body">
										    <textarea id="comment" name="comment" style="margin-top:20px; width:450px; height:200px;"> </textarea>
										  </div>
										  <div class="modal-footer">
										    <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">  ยกเลิก </button>
										    <button class="btn btn-primary" type="submit" id="modal-button"> แจ้งผู้ประกอบการ </button>
										  </div>
										</form>
									</div>
								</div><!--button->
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		


	</body>
</html>
