
<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>


</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->

			<div class="content">
				<h1>ใบอนุญาตส่งออกวัตถุอันตราย</h1>
				<h2>วอ.๖</h2>
		
				<form action method="post">
					
								

							<!-- <div class="form-group"> -->
								<div class="form-group infoRight">
									<!-- <p>กรม/สำนักงาน</p><input readonly type="TEXT" class="form-control" id="departmentBox" name="departmentBox" value="01">
								
									<br>
									<p>กระทรวง</p><input readonly type="TEXT" class="form-control" id="ministryBox" name="ministryBox" value="1990"> -->
								
									<!-- <br> -->
									<p>วันที่</p><input readonly type="TEXT" class="form-control" id="dayBox" name="dayBox" value="{{form.date.date.day}}">
									<p>เดือน</p><input readonly type="TEXT" class="form-control" id="monthBox" name="monthBox" value="{{form.date.date.month}}">
									<p>ปี</p><input readonly type="TEXT" class="form-control" id="yearBox" name="yearBox" value="{{form.date.date.year}}">
								</div>

								<div class="form-group infoLeft">
								<p class="hazard_name">ใบอนุญาตเลขที่</p>
									<input type="TEXT" class="form-control" id="orderBox" 
									value="{{form.id}}" readonly type="TEXT" name="orderBox">

								<br/>
								

							
								</div>
							<div class="form-group infoLeft">
								<p class="hazard_name">ใบสำคัญการขึ้นทะเบียนเลชที่</p>
									<input type="TEXT" class="form-control" id="codeBox" value="{{data.codeBox}}" readonly type="TEXT" name="codeBox">

								<br/>

								<p>อนุญาตให้</p><input readonly type="TEXT" class="form-control" id="nameBox" name="nameBox" value="{{data.nameBox}}">
								<p>สัญชาติ</p><input readonly type="TEXT" class="form-control" id="regionBox" name="regionBox" value="{{data.regionBox}}">
							</div>


							<div class="form-group infoLeft">	</div>
							<div class="form-group infoLeft" style="width:100%">

								<p>เลขประจำตัวผู้เสียภาษีอากร</p><input readonly type="TEXT" class="form-control" id="code_taxBox" id="code_taxBox" value="{{data.code_taxBox}}" style="width: 250px">

								</br>
								
								<p>สถานที่ติต่อผู้ขอส่งออก</p>

								<p>ตั้งอยู่บ้านเลขที่</p>
								<input readonly type="TEXT" class="form-control" id="address_contactBox" id="address_contactBox" value="{{data.address_contactBox}}">
								

								<p>หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" id="mo_contactBox" name="mo_contactBox" value="{{data.mo_contactBox}}">

								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" id="soi_contactBox" name="soi_contactBox" value="{{data.soi_contactBox}}">

								<br/>


								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" id="street_contactBox" name="street_contactBox" value="{{data.street_contactBox}}">

								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" id="district_contactBox" name="district_contactBox" value="{{data.district_contactBox}}">

								<br/>

								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" id="canton_contactBox" name="canton_contactBox" value="{{data.canton_contactBox}}">

								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" id="province_contactBox" name="province_contactBox" value="{{data.province_contactBox}}">

								<br/>

								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" id="zip_contactBox" name="zip_contactBox" value="{{data.zip_contactBox}}">

								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" id="mobile_contactBox" name="mobile_contactBox" value="{{data.mobile_contactBox}}">
								
								<br/>
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_contactBox" name="fax_contactBox" value="{{data.fax_contactBox}}">
								<br/>

								<p>ส่งออกวัตถุอันตรายตามรายการ ดังต่อไปนี้</p><br/>

								<br/>

								<p>ชื่อวัตถุอันตราย สูตรเครมี และอัตราส่วน</p><br/>

								<br/> 

              					<textarea  readonly name="hazardousBox" id="hazardousBox" rows="3" value="" style="width: 600px">{{data.hazardousBox}}</textarea>

              					<br/><br/>
								<p>ลักษณะและสูตร (Formulation)</p>
								<input readonly type="TEXT" class="form-control" id="formulaBox" name="formulaBox" value="{{data.formulaBox}}">

								<br/>

								<p>ชื่อทางการค้า (ถ้ามี)</p>
								<input readonly type="TEXT" class="form-control" id="marketingBox" name="marketingBox" value="{{data.marketingBox}}">

								<br/>

								
								<br/>

								<p>ประเทศปลายทาง</p>
								<input readonly type="TEXT" class="form-control" id="countryBox" name="countryBox" value="{{data.countryBox}}">

								<br/>

								<p>ปริมาณ</p>
								<input readonly type="TEXT" class="form-control" id="quantityBox" name="quantityBox" value="{{data.quantityBox}}">

								<br/> <br/>

								<p>หมายเหตุ</p>

								<br/> <br/>
								<textarea readonly  name="notationBox" id="notationBox" rows="2" 
              					value="" style="font-size:20px; width:565px; height:100px; background: none repeat scroll 0 0 #FAFAFA;"> {{data.notationBox}}</textarea>
								<br/> <br/>		
								
								<!-- <p>สถานที่เก็บรักษาวัตถุอันตรายตามรายการด้านหลังใบอนุญาตนี้</p>
								<p>ใบอนุญาตนี้ออกให้โดยมีเงื่อนไข ดังต่อไปนี้</p>

								<br/> <br/>

              					<textarea  readonly name="textarea" id="conditionBox" name="conditionBox" rows="2" style="width: 600px" value="">{{data.conditionBox}}</textarea> -->

								
										
										<p>ใบอนุญาตนี้ให้ใช้ได้จนถึงวันที่</p>	<br/>	
									
									<p class="date" >วันที่</p><input readonly type="TEXT" class="form-control" id="dayBox2" name="dayBox2" value="{{form.expire.date.day}}">
									
									<p class="date" >เดือน</p><input readonly type="TEXT" class="form-control" id="monthBox2" name="monthBox2" value="{{form.expire.date.month}}">
									
									<p class="date">ปี</p><input readonly type="TEXT" class="form-control" id="yearBox2" name="yearBox2" value="{{form.expire.date.year}}">
									



								<div class="form-group infoLeft" style="border-top: solid 1px gray;"> <br/>

								<p> *** รายการด้านหลัง่</p> </br>

									<p>สถานที่เก็บวัตถุอันตรายชื่อ</p>
								<input readonly type="TEXT" class="form-control" id="name_storage2" name="name_storage2" value="{{data.name_storage2}}" style="width: 300px">

								<br>
								<p> ตั้งอยู่เลขที่ </p>
								<input readonly type="TEXT" class="form-control" id="address_storage2" id="address_storage2" value="{{data.address_storage2}}" style="width: 60px">
								
								<p>หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" id="mo_storage2" name="mo_storage2" value="{{data.mo_storage2}}" style="width: 60px">

								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" id="soi_storage2" name="soi_storage2" value="{{data.soi_storage2}}">

								<br>
								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" id="street_storage2" name="street_storage2" value="{{data.street_storage2}}">

								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" id="district_storage2" name="address_storage2" value="{{data.address_storage2}}">
																	
								</br>
								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" id="canton_storage2" name="canton_storage2" value="{{data.canton_storage2}}">
								
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" id="province_storage2" name="province_storage2" value="{{data.province_storage2}}">
								
								</br>
								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" id="mobile_storage2" name="mobile_storage2" value="{{data.mobile_storage2}}">
							
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_storage2" name="fax_storage2" value="{{data.fax_storage2}}">


								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบการเก็บรักษา <br>(ในกรณีที่มีใบประกาศฯ ออกตามความในมาตรา ๒๐(๒) แห่งพระราชบัญญัติวัตถุอันตราย <br> พ.ศ. ๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p>
									<br><br>
									<textarea readonly id="specialistBox2" name="specialistBox2" rows="2" value="" style="width: 600px">{{data.specialistBox2}}</textarea>
								</br><br>

							</div>
								<br/><br>
									
								<div class="button buttonView">
								<button class="btn btn-inverse" type="button" style="height:30px; width: 80px;"onclick="window.location.href='/list'">กลับ</button>
								</div>
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		


	</body>
</html>
