<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			
			$('.carousel').carousel('cycle');
			$('#modal-button').click(function(e){
			      e.preventDefault();
			      window.location = "reject?comment=" + $("#comment").val()
			});
		});
	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			
		</header>
		<!--header end -->


		
			<div class="content">
				<h1> คำขอใบแทนใบอนุญาตมีไว้ในครอบครองซึ่งวัตถุอันตราย </h1>
				
		
				<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
					
							<input type="hidden" name="form_type" value="hold_substitute">
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									
									<p >วันที่</p><input readonly type="TEXT" class="form-control"  name="dayBox" id="dayBox" value="{{date.day}}">
									
									<p >เดือน</p><input readonly type="TEXT" class="form-control" name="monthBox" id="monthBox" value="{{date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control" name="yearBox" id="yearBox" value="{{date.year}}">
									

								</div>
							<!-- </div> -->

							
						<div class="form-group infoleft">
									<p>ใบอนุญาตเลขที่</p><input readonly type="TEXT" class="form-control" name="orderBox" id="orderBox" value="{{form.id}}">
								</div>

								<br/>

							<!-- <div class="form-group infoLeft">
								<p>ใบสำคัญการขึ้นทะเบียนเลขที่</p><input disabled type="TEXT" class="form-control" id="codeBox" name="codeBox" value="{{data.codeBox}}">
							</div> -->

							
							<div class="form-group infoRight">
								
								<p class="name" >ข้าพเจ้า</p><input readonly type="TEXT" class="form-control" id="nameBox" value="{{data.nameBox}}" name="nameBox">
								
								<p class="age" >อายุ</p><input readonly type="TEXT" class="form-control" id="ageBox" name="ageBox" value="{{data.ageBox}}"><p> ปี </p>
								
								<p class="region">สัญชาติ</p><input  readonly type="TEXT" class="form-control" id="regionBox" value="{{data.regionBox}}"name="regionBox">
								

							</div>


							<div class="form-group infoLeft">	</div>

							<div class="form-group infoLeft">

								<p >เลขประจำตัวผู้เสียภาษีอากร</p><input readonly type="TEXT" class="form-control" id="code_taxBox"name="code_taxBox" value="{{data.code_taxBox}}">

								</br>
								
								<p>สถานที่ติดต่อผู้ขอครอบครองตั้งอยู่</p>

								<p >บ้านเลขที่</p>
								<input readonly type="TEXT" class="form-control" id="address_contactBox" name="address_contactBox" value="{{data.address_contactBox}}">
								

								<p >หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" id="mo_contactBox"name="mo_contactBox" value="{{data.mo_contactBox}}">

								<p >ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" id="soi_contactBox"name="soi_contactBox" value="{{data.soi_contactBox}}">
								<br/>

								<p >ถนน</p>
								<input  readonly type="TEXT" class="form-control" id="street_contactBox"name="street_contactBox" value="{{data.street_contactBox}}">

								<p >ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" id="district_contactBox"name="district_contactBox" value="{{data.district_contactBox}}">
								<br/>

								<p >อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" id="canton_contactBox"name="canton_contactBox" value="{{data.canton_contactBox}}">

								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" id="province_contactBox"name="province_contactBox" value="{{data.province_contactBox}}">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" id="zip_contactBox"name="zip_contactBox" value="{{data.zip_contactBox}}">

								<p >โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" id="mobile_contactBox"name="mobile_contactBox" value="{{data.mobile_contactBox}}">
								<br/>
								<p >โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_contactBox"name="fax_contactBox" value="{{data.fax_contactBox}}">

								</br>

								<p >ข้าพเจ้า เป็นผู้มีใบอนุญาตครอบครอง วัตถุอันตราย เลขที่ </p>
								<input readonly type="TEXT"  class="form-control" name="orderBox" id="orderBox" value="{{form.id}}">
								</br>
								<p >เหตุผลที่ขอรับใบแทนใบอนุญาต</p>
								<input  type="TEXT"  class="form-control" name="reasonArea" id="reasonArea" value="">
								

								</br></br>
									<p> พร้อมกับคำขอนี้ ข้าพเจ้าได้แนบเอกสารหัลกฐานต่างๆ </p>
									</br></br>
									<div class="doc_zone">

									<p class="checkboxLabel">
									
									  หลักฐานการแจ้งความใบอนุญาตสูญหาย
									  <!-- <div class="input-append infoRight"> -->
									    
									    <input id="envidenceButton"  name="envidence"  value="" type="file" class="filestyle infoRight" data-classButton="btn btn-primary" data-input="false">
									 <!-- </div> -->
								    </p></br></br>

								    <p class="checkboxLabel">
									
									  ใบอนุญาตที่ชำรุด/สำเนาใบอนุญาต
									  <!-- <div class="input-append infoRight"> -->
									   
									    <input id="permitCopyButton" name="permitCopyButton"  value="" type="file" class="filestyle infoRight" data-classButton="btn btn-primary" data-input="false">
									 <!-- </div> -->
								    </p></br></br>
									
									
									<p class="checkboxLabel">
									 
									  สำเนาบัตรประชาชน / สำเนาใบสำคัญประจำคนต่างด้าว
									  <!-- <div id="ID_doc" class="input-append infoRight"> -->
									   
									    <input id="idButton" name="idButton"  value="" type="file" class="filestyle infoRight" data-classButton="btn btn-primary" data-input="false">
									 <!-- </div> -->
								    </p></br></br>


									<p class="checkboxLabel">
									  
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
									    <!-- <div id="ensure_doc" class="input-append infoRight"> -->
									    
									    <input id="personButton" name="personButton"  value="" type="file" class="filestyle infoRight" data-classButton="btn btn-primary" data-input="false">
									 <!-- </div> -->
									</p></br></br>	

									<p class="checkboxLabel">
									  
									  หนังสือมอบอำนาจ(กรณีที่มีการมอบอำนาจ)
									    <!-- <div id="authorize_doc" class="input-append infoRight" > -->
									    
									    
									    <input id="subButton" name="subButton"  value="" type="file" class="filestyle infoRight" data-classButton="btn btn-primary" data-input="false">
									 <!-- </div> -->
									</p></br></br>



								</div><!--doc zone-->
								<div class="button buttonRequest">
								<button class="btn btn-inverse" type="submit" style="height:30px; width: 80px;">ส่งเอกสาร</button>

								<button class="btn btn-inverse" type="reset" style="height:30px; width: 80px;">รีเซ็ต</button>
							</div>
										
							</div><!-- infoleft -->

							
				
			</div><!--content-->
		</div>


	</body>
</html>