<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>



	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->

			<div class="content">
				<h1> คำขออนุญาตมีไว้ในครอบครองซึ่งวัตถุอันตราย</h1>
				<h2>วอ.๗</h2>
		
				<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
					
					
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									
									<p>วันที่</p><input readonly type="TEXT" class="form-control" name="dayBox" id="dayBox" value="{{date.day}}">
									
									<p>เดือน</p><input readonly type="TEXT" class="form-control" name="monthBox" id="monthBox" value="{{date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control" name="yearBox" id="yearBox" value="{{date.year}}">

								</div>
							<!-- </div> -->

							

							<!-- <div class="form-group infoLeft">	

								<p class="code" >ใบสำคัญการขึ้นทะเบียนเลขที่</p>
								<input type="TEXT" class="form-control" name="codeBox" id="codeBox" value="">	
							</div> -->
							
							<div class="form-group infoRight">
								
								<p class="name" >ข้าพเจ้า</p><input type="TEXT" class="form-control" id="nameBox" value="" name="nameBox">
								
								<p class="age" >อายุ</p><input type="TEXT" class="form-control" id="ageBox" name="ageBox" value=""><p> ปี </p>
								
								<p class="region">สัญชาติ</p><input type="TEXT" class="form-control" id="regionBox" value=""name="regionBox">
								

							</div>


							<div class="form-group infoLeft">	</div>

							<div class="form-group infoLeft">

								<p >เลขประจำตัวผู้เสียภาษีอากร</p><input type="TEXT" class="form-control" id="code_taxBox"name="code_taxBox" value="">

								</br>
								
								<p>สถานที่ติดต่อของข้าพเจ้าตั้งอยู่</p>

								<p >เลขที่</p>
								<input type="TEXT" class="form-control" id="address_contactBox" name="address_contactBox" value="">
								

								<p >หมู่ที่</p>
								<input type="TEXT" class="form-control" id="mo_contactBox"name="mo_contactBox" value="">

								<p >ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_contactBox"name="soi_contactBox" value="">
								<br/>

								<p >ถนน</p>
								<input type="TEXT" class="form-control" id="street_contactBox"name="street_contactBox" value="">

								<p >ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_contactBox"name="district_contactBox" value="">
								<br/>

								<p >อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_contactBox"name="canton_contactBox" value="">

								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_contactBox"name="province_contactBox" value="">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" id="zip_contactBox"name="zip_contactBox" value="">

								<p >โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_contactBox"name="mobile_contactBox" value="">
								<br/>
								<p >โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_contactBox"name="fax_contactBox" value="">

								<br>
								<p>สถานที่เก็บรักษาวัตถุอันตราย</p>

								<p>ชื่อ</p>
								<input type="TEXT" style ="width: 190px" class="form-control" id="name_storage"name="name_storage" value="" >

								<p >ตั้งอยู่เลขที่</p>
								<input type="TEXT" style ="width: 50px" class="form-control" id="address_storage"name="address_storage" value="" >
								

								<p >หมู่ที่</p>
								<input type="TEXT" style ="width: 50px" class="form-control" id="mo_storage"name="mo_storage" value="">
								<br/>

								<p >ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_storage"name="soi_storage" value="">
								
								<p >ถนน</p>
								<input type="TEXT" class="form-control" id="street_storage"name="street_storage" value="">
								<br/>

								<p >ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_storage"name="district_storage" value="">
								
								<p >อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_storage"name="canton_storage" value="">
								<br/>

								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_storage"name="province_storage" value="">
								
								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" id="zip_storage"name="zip_storage" value="">
								<br>

								<p >โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_storage"name="mobile_storage" value="">
								
								<p >โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_storage"name="fax_storage" value="">

								<br>

								<p>ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบสำหรับการเก็บรักษา/การใช้รับจ้าง</p>
									<br><p>( ในกรณีที่มีประกาศฯ ออกตามความมาตรา ๒๐ (๒) แห่งพระราชบัญญัติวัตถุอันตราย</p>
									<br><p>พ.ศ.๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ )</p>
								<textarea id = "specialistBox" name="specialistBox" style="margin-top:10px; margin-left:10; font-size:20px; width:565px; height:100px;" ></textarea>

								<br/>
								<p>ขออนุญาตมีไว้ในครอบครองซึ่งวัตถุอันตราย โดยมีวัตถุประสงค์ในการครอบครองเพื่อ</p>

								<br>

							
								<p style="margin-top: 0px; margin-left: 30px; margin-right: 30px; padding-top:0px;">
								 <input checked type="radio" id="sell_radioButt" name="sell_radioButt"  value="sell_value" style = "margin-right: 5px;"> ขาย

								  <input class="radio" type="radio" id="shipping_radioButt" name="shipping_radioButt" value="shipping_value" style = "margin-right: 5px;"> ขนส่ง

								  <input class="radio" type="radio" id="use_radioButt" name="use_radioButt"  value="use_value" style = "margin-right: 5px;"> ใช้


								</p>

								
								

								<!-- <p style="margin-top: 0px; margin-left: 30px; margin-right: 30px; padding-top:0px;">
								  <input type="radio" id="otherchoice" name="otherchoice" value="otherchoice_value" style = "margin-right: 5px;"> อื่นๆ (ระบุ)
								</p>
								<input type="TEXT" class="form-control" id="others"name="others" value="" style = "width: 450px"> -->

							
								<br>
								<p >ชื่อวัตถุอันตรายที่ขออนุญาตมีไว้ในครอบครอง</p>
								<input type="TEXT" class="form-control" id="hazardous_nameBox"name="hazardous_nameBox" value="" style = "width: 450px">

								<br>
								<p >ชื่อทางการค้าของวัตถุอันตรายที่ขออนุญาตมีไว้ในครอบครอง</p>
								<input type="TEXT" class="form-control" id="marketingBox"name="marketingBox" value="" style = "width: 350px">

								<br>
								<p >ทะเบียนเลขที่</p>
								<input type="TEXT" class="form-control" id="codeBox"name="codeBox" value="" style = "width: 200px">

								<br>
								<p >ปริมาณการครอบครองรวมสูงสุด</p>
								<input type="TEXT" class="form-control" id="seller_nameBox"name="seller_nameBox" value="" style = "width: 100px">

								<br>
								<p >พื้นที่เฉพาะในส่วนของการครอบครองรวมสูงสุด</p>
								<input type="TEXT" class="form-control" id="maxArea_storage"name="maxArea_storage" value="" style = "width: 80px">
								<p>ตารางเมตร</p> <br>
								<p>(ถ้ามีหลายรายการให้ระบุว่า "ดังบัญชีรายชื่อแนบท้าย")</p>

								</br>
								

								</br></br>
									<p> เอกสารประกอบการขออนุญาต</p>
									</br></br>
									<div class="doc_zone">


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									  <div class="infoRight">
						
									    <input id="identity" name="identity"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
								    
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
									     <div class="infoRight">
						
									    <input id="person" name="person"   value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม(ภ.พ.๒๐)
									      <div class="infoRight">
						
									    <input id="tax" name="tax"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									  

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบสำคัญการขึ้นทะเบียนวัตถุอันตราย
									   <div class="infoRight">
						
									    <input id="register" name="register"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาผลการวิเคราะห์วัตถุอันตราย
									   <div class="infoRight">
						
									    <input id="analysis" name="analysis"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนที่สังเขปแสดงสถานที่เก็บรักษาวัตถุอัตรายและบริเวณข้างเคียง
									    <div class="infoRight">
						
									    <input id="map" name="map"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									   <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนผังภายในของอาคารที่ใช้เป็นสถานที่เก็บรักษาวัตถุอันตราย
									     <div class="infoRight">
						
									    <input id="mapIn" name="mapIn"  value=""type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>(ในกรณีที่มีประกาศฯ ออกตามความในมาตรา๒๐(๑) แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ ให้สถานที่เก็บรักษาวัตถุอันตรายต้องเป็นไปตามหลักเกณฑ์ที่กำหนด)</p>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงความรู้ความชำนาญของผู้เชี่ยวชาญหรือบุคลากรเฉพาะ
									     <div class="infoRight">
						
									    <input id="expert" name="expert"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>รับผิดชอบสำหรับการเก็บรักษา</p>
									</p></br></br>
									
									 
									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงลักษณะภาชนะบรรจุที่จะใช้และการหุ้มห่อหรือผูกมัด
									     <div class="infoRight">
						<!-- -->
									    <input id="container" name="container"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>ภาชนะบรรจุวัตถุอันตราย</p>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  เอกสารแสดงข้อมูลความปลอดภัยของวัตถุอันตราย
									    <div class="infoRight">
						
									   

									    <input id="secure" name="secure"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

								<!-- 	<p class="checkboxLabel">
									  <input class="checkbox"type="checkbox" value="otherCheck" id="otherCheck" name="otherCheck">
									อื่นๆ (ระบุ)
									  <div class="input-append infoRight">
									    <input type="text" style="width:200px; height:30px;" id="other" name="other"> 
									     <button class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
									</p></br></br> -->

								</div><!--doc zone-->
								<div class="button buttonRequest">
								<button id="submit" class="btn btn-inverse" type="submit" style="height:30px; width: 80px;">ส่ง</button>

								<button id="reset" class="btn btn-inverse" type="reset" style="height:30px; width: 80px;">รีเซ็ต</button>
							</div>
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		


	</body>
</html>