<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/customer-officer_documents.css" type="text/css" media="screen" charset="utf-8">
	<!-- <link rel="stylesheet" href="{{ STATIC_URL }}css/officer_documents.css" type="text/css" media="screen" charset="utf-8"> -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme-responsive.css" type="text/css" media="screen" charset="utf-8">

	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript"src="{{ STATIC_URL }}js/process_function.js"></script>

	 

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">


		<!--header-->
		<header>
			
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/"> หน้าหลัก </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>

			


		</header>
		<!--header end -->


		<!-- <div class="span12" style="margin:0; padding:0"> -->
			<div class="content">
				<div class="subContent">

				
					<div class="span3">
							<h4> สวัสดี,  คุณ {{user.username}}  </h4>
								<!-- <a href="#" style="font-size:16px; display:inline; float:right; margin-top:-20px;"> log out </a> -->
								<ul class="process">
									<li>		
								
									  <a href="#collapse-register"  data-toggle="collapse" data-parent="process"  >
								  	กระบวนการขอขึ้นทะเบียน</a>
									  	<ul id="collapse-register" class="collapse sublist">
									    	<li><a href="#registerProcess_list" onclick="registerFunction()">  ขอขึ้นทะเบียนวัตถุอันตราย</a></li>
											<li><a href="#modify_registerProcess_list" onclick="modify_registerFunction()">ขอเปลี่ยนแปลงใบอนุญาตขึ้นทะเบียนวัตถุอันตราย</a></li>
											<li><a href="#extend_registerProcess_list" onclick="extend_registerFunction()">ขอต่ออายุใบอนุญาตขึ้นทะเบียนวัตถุอันตราย</a></li>
											<li><a href="#substitue_registerProcess_list" onclick="substitue_registerFunction()">ขอใบแทนใบอนุญาตขึ้นทะเบียนวัตถุอันตราย</a></li>
										</ul>
							</li>

							<li>  
								<a href="collapse-produce"  data-toggle="collapse" data-parent="process"  >  กระบวนการขอผลิต</a>
								
							</li>
							<li><a>  กระบวนการขอนำเข้า</a></li>
							<li><a href="#collapse-hold"  data-toggle="collapse" data-parent="process">  กระบวนการขอครอบครอง</a>
								<ul id="collapse-hold" class="collapse sublist">
									    	<li><a href="#holdProcess_list" onclick=
						"holdFunction()">  ขอครอบครองวัตถุอันตราย</a></li>
											<li><a href="#modify_holdProcess_list" onclick="modify_holdFunction()">ขอเปลี่ยนแปลงใบอนุญาตครอบครองวัตถุอันตราย</a></li>
											<li><a href="#extend_registerProcess_list" onclick="extend_holdFunction()">ขอต่ออายุใบอนุญาตครอบครองวัตถุอันตราย</a></li>
											<li><a href="#substitue_holdProcess_list" onclick="substitue_holdFunction()">ขอใบแทนใบอนุญาตครอบครองวัตถุอันตราย</a></li>
										</ul>

							</li>
							<li><a>  กระบวนการขอส่งออก</a></li>
							<li><a href="#collapse-sample"  data-toggle="collapse" data-parent="process">  กระบวนการขอแสดงตัวอย่าง</a>
								<ul id="collapse-sample" class="collapse sublist">
									    	<li><a href="#sampleProduceProcess_list" onclick="sampleProduceFunction()">  ขอแสดงตัวอย่างเพื่อผลิต</a></li>
											<li><a href="#sampleImportProcess_list" onclick="sampleImportFunction()">   ขอแสดงตัวอย่างเพื่อนำเข้า</a></li>
											
										</ul>

							</li>
						</ul>
					</div>

					<div id="intro_officer" class="span6">
						<H1> ตรวจเอกสาร </H1> 
						</br>  <p p style="text-indent:0.5in"> เจ้าหน้าที่ สามารถเลือกตรวจสอบเอกสารของผู้ประกอบการ
						ได้ตามกระบวนที่ ผู้ประกอบการได้ ทำการยื่นเอกสาร ไว้ ดังต่อไปนี้
						 </p>
						 <ul style="font-size:18px; ">
						 	<li>  กระบวนการขอขึ้นทะเบียน </li>
						 	<li>  กระบวนการขอผลิต </li>
							<li>  กระบวนการขอนำเข้า </li>
							<li> กระบวนการขอครอบครอง </li>
							<li>  กระบวนการขอส่งออก </li>
							<li>  กระบวนการขอแสดงตัวอย่าง </li>
						</ul>

						<p> โดยที่ เจ้าหน้าที่ แต่ละส่วน จะ สามารดูเอกสาร ที่ผู้ประกอบการ ยื่น
						 ทำการพิจารณา อนุมัติ/ ไม่อนุมัติ เอกสาร ได้ตามความเหมาะสม </p>

						 <a id="manual_officer" style="float:right; font-size:19px;"> คู่มือการใช้งาน </a>
					</div>
					


					<div id="registerProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอขึ้นทะเบียน </H1>
						<H3 id="list_Title"> รายชื่อผู้ขอ ใบอนุญาตขึ้นทะเบียน   </H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								       <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขทะเบียน </th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == 'register_request' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      
								      <td id="check_value" >
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png" data-toggle="tooltip"  title="ดูเอกสารคำขอ"></a>
								      {% endif %}
								  		</td>
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png" data-toggle="tooltip"  title="ดูใบอนุญาต">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}								  </tbody>
						</table>
					</div>

					<div id="modify_registerProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอขึ้นทะเบียน </H1>
						<H3 id="list_Title">   รายชื่อผู้ขอแก้ไขเปลี่ยนแปลง ของใบอนุญาตขึ้นทะเบียน   </H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								      <th id="No_permit_head"> หมายเลขทะเบียน </th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ</th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == 'register_modify' %}
								    <tr>
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      <td id="check_value">
								      	{% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png"></a>
								      	{% endif %}
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png">
										</a>
								      	{% endif %}</td>
									   
								    </tr>
								    {% endif%}
								    {% endfor %}
								  </tbody>
						</table>
					</div>

					<div id="extend_registerProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอขึ้นทะเบียน </H1>
						<H3 id="list_Title">  รายชื่อผู้ขอต่ออายุของใบอนุญาตขึ้นทะเบียน   </H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								    
								      <th id="No_permit_head"> หมายเลขทะเบียน </th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head">  ใบอนุญาต</th>
								      <!-- <th id="link_head"> Link with </th> -->
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == 'register_extend' %}
								    <tr>
								  
								      <td id="No_permit_value"># {{ form.id }}</td>
								      <td id="date1_value">{{ form.date }}</td>
								      <td id="check_value">
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png"></a>
								      {% endif %}
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png">
										</a>
								      	{% endif %}</td>
								      <!-- <td id="link_value"> -->
										
								      	
								    </tr>
								    {% endif %}
								    {% endfor %}
								  </tbody>
						</table>
					</div>

					<!-- ใบแทน ขึ้นทะเบียน -->
					<div id="substitue_registerProcess_list" class="span6"
					style="margin-top:20px;">
						<H1>  กระบวนการขอขึ้นทะเบียน </H1>
					<H3 id="list_Title">   รายชื่อผู้ขอใบแทน ใบอนุญาตขึ้นทะเบียน   </H3>
						<H3 id="list_Title">   </H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								      <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขทะเบียน </th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								      <!-- <th id="link_head"> Link with </th> -->
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == 'register_substitute' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{ form.id }}</td>
								      <td id="date1_value">{{ form.date }}</td>
								      <td id="check_value">
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/CheckBox-32.png"></a>
								      {% endif %}
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/View-32.png">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}
								  </tbody>
						</table>
					</div>

					<!--ใบคำขอ ครอบครอง -->
					<div id="holdProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอครอบครอง</H1>
						<H3 id="list_Title"> รายชื่อผู้ขอ ใบอนุญาตครอบครองวัตถุอันตราย</H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								       <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขคำขอ</th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == '' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      
								      <td id="check_value" >
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png" data-toggle="tooltip"  title="ดูเอกสารคำขอ"></a>
								      {% endif %}
								  		</td>
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png" data-toggle="tooltip"  title="ดูใบอนุญาต">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}								  
								</tbody>
						</table>
					</div>

					<!--ใบเปลี่ยนแปลง ครอบครอง -->
					<div id="modify_holdProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอครอบครอง</H1>
						<H3 id="list_Title"> รายชื่อผู้ขอเปลี่ยนแปลง ใบอนุญาตครอบครองวัตถุอันตราย</H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								       <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขคำขอ</th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == '' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      
								      <td id="check_value" >
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png" data-toggle="tooltip"  title="ดูเอกสารคำขอ"></a>
								      {% endif %}
								  		</td>
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png" data-toggle="tooltip"  title="ดูใบอนุญาต">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}								  
								</tbody>
						</table>
					</div>

					<!--ใบต่ออายุ ครอบครอง -->
					<div id="extend_registerProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอครอบครอง</H1>
						<H3 id="list_Title"> รายชื่อผู้ขอต่ออายุ ใบอนุญาตครอบครองวัตถุอันตราย</H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								       <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขคำขอ</th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == '' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      
								      <td id="check_value" >
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png" data-toggle="tooltip"  title="ดูเอกสารคำขอ"></a>
								      {% endif %}
								  		</td>
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png" data-toggle="tooltip"  title="ดูใบอนุญาต">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}								  
								</tbody>
						</table>
					</div>

					<!--ใบแทน ครอบครอง -->
					<div id="substitue_holdProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอครอบครอง</H1>
						<H3 id="list_Title"> รายชื่อผู้ขอใบแทน ใบอนุญาตครอบครองวัตถุอันตราย</H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								       <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขคำขอ</th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == '' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      
								      <td id="check_value" >
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png" data-toggle="tooltip"  title="ดูเอกสารคำขอ"></a>
								      {% endif %}
								  		</td>
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png" data-toggle="tooltip"  title="ดูใบอนุญาต">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}								  
								</tbody>
						</table>
					</div>

					<!--ตัวอย่างผลิต -->
					<div id="sampleProduceProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอผลิตตัวอย่าง </H1>
						<H3 id="list_Title"> รายชื่อผู้ขอ ใบอนุญาตนำเข้าตัวอย่าง เพื่อผลิต </H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								       <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขคำขอ </th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == '' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      
								      <td id="check_value" >
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png" data-toggle="tooltip"  title="ดูเอกสารคำขอ"></a>
								      {% endif %}
								  		</td>
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png" data-toggle="tooltip"  title="ดูใบอนุญาต">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}								  
								</tbody>
						</table>
					</div>

					<!--ตัวอย่างนำเข้า-->
					<div id="sampleImportProcess_list" class="span6" style="margin-top:20px;">
						<H1>  กระบวนการขอนำเข้าตัวอย่าง </H1>
						<H3 id="list_Title"> รายชื่อผู้ขอ ใบอนุญาตนำเข้าตัวอย่าง เพื่อนำเข้า</H3>
						<!-- <img id="add_icon" src="{{ STATIC_URL }}img/icon/Add-New-32.png">  -->
						<table class="table table-striped">
	  							<thead>
								    <tr>
								       <!-- <th id="No_head"> No. </th> -->
								      <th id="No_permit_head"> หมายเลขคำขอ</th>
								      <th id="date1_head"> วันที่ </th>
								      <th id="status_head"> ตรวจสอบ/อนุมัติ </th>
								      <th id="manage_head"> ใบอนุญาต </th>
								    </tr>
								 </thead>

								   <tbody>
								   	{% for form in forms %}
								   	{% if form.formType.name == '' %}
								    <tr>
								      <!-- <td id="No_value">{{forloop.count}}</td> -->
								      <td id="No_permit_value"># {{form.id}}</td>
								      <td id="date1_value">{{form.date}}</td>
								      
								      <td id="check_value" >
								      {% if form.formType.autherize_number != form.status %}
								      	<a  id="check_value_link" href="/form/{{form.id}}/approve"><img  src="{{ STATIC_URL }}img/icon/View-32.png" data-toggle="tooltip"  title="ดูเอกสารคำขอ"></a>
								      {% endif %}
								  		</td>
								      <td id="manage_value">
								      	{% if form.formType.autherize_number == form.status %}
										<a id="manage_value_link" href="/form/{{form.id}}"><img src="{{ STATIC_URL }}img/icon/CheckBox-32.png" data-toggle="tooltip"  title="ดูใบอนุญาต">
										</a>
								      	{% endif %}
								      </td>
								      
								    </tr>
								    {% endif %}
								    {% endfor %}								  
								</tbody>
						</table>
					</div>






				</div> <!--sub-content-->

			</div> <!--content-->
		<!-- </div><!--span12-->


	</body>
</html>