<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/validate.js"></script>
	
	<script type="text/javascript">
	function validateFrom(){
		var Varl = new validate();
		var test = Varl.start();
		return test;
	}
	</script>

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">


		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->


		
			<div class="content">
				<h1> คำขออนุญาตผลิตวัตถุอันตราย</h1>
				<h2> วอ.๑	 </h2>
		
				<form action="" method="post" onsubmit="return validateFrom()" enctype="multipart/form-data">{% csrf_token %}
					
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des infoRight">
									
									<p>วันที่</p><input readonly type="TEXT" class="form-control" name="dayBox" id="dayBox" value="{{date.day}}">
									
									<p>เดือน</p><input readonly type="TEXT" class="form-control" name="monthBox" id="monthBox" value="{{date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control" name="yearBox" id="yearBox" value="{{date.year}}">
									

								</div>
							<!-- </div> -->

							<div class="form-group infoLeft">	

								<!--   -->
							</div>

							
							<div class="form-group infoRight">
								
								<p class="name" >ข้าพเจ้า</p><input type="TEXT" class="form-control" id="nameBox" name="nameBox" value="">
								
								<p class="age" >อายุ</p><input type="TEXT" class="form-control" id="ageBox" name="ageBox" value=""><p> ปี </p>
								
								<p class="region">สัญชาติ</p><input type="TEXT" class="form-control" id="regionBox" name="regionBox" value="">
								

							</div>


							
							<div class="form-group infoLeft">



								<p class="code-tax" >เลขประจำตัวผู้เสียภาษีอากร</p><input type="TEXT" class="form-control" style="width:250px;"
								id="code_taxBox" name="code_taxBox" value="">

								</br>

								<p>สถานที่ติดต่อข้าพเจ้าตั้งอยู่บ้านเลขที่</p>
								<input type="TEXT" class="form-control" id="address_contactBox" name="address_contactBox" value="">
								<p>หมู่ที่</p>
								<input type="TEXT" class="form-control" id="mo_contactBox" name="mo_contactBox" value="">
								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_contactBox" name="soi_contactBox" value="">
								<br/>

								<p>ถนน</p>
								<input type="TEXT" class="form-control" id="street_contactBox" name="street_contactBox" value="">
								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_contactBox" name="district_contactBox" value="">
								<br/>

								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_contactBox" name="canton_contactBox" value="">
								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_contactBox" name="province_contactBox" value="">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" id="zip_contactBox" name="zip_contactBox" value="">
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_contactBox" name="mobile_contactBox" value="">
								<br/>
								
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_contactBox" name="fax_contactBox" value="">
								</br>

								<p>สถานที่ผลิตวัตถุอันตราย</p>
								<p>ชื่อ</p>
								<input type="TEXT" class="form-control" id="name_manufacture" name="name_manufacture" value="">
								</br>

								<p>ตั้งอยู่เลขที่</p>
								<input type="TEXT" style="width:100px;" class="form-control" id="address_manufacture" name="address_manufacture" value="">
								<p>หมู่ที่</p>
								<input type="TEXT" style="width:50px;" class="form-control" id="mo_manufacture" name="mo_manufacture" value="">
								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_manufacture" name="soi_manufacture" value="">
								<br/>

								<p>ถนน</p>
								<input type="TEXT" class="form-control" id="street_manufacture" name="street_manufacture" value="">
								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_manufacture" name="district_manufacture" value="">
								<br/>

								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_manufacture" name="canton_manufacture" value="">
								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_manufacture" name="province_manufacture" value="">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" id="zip_manufacture" name="zip_manufacture" value="">
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_manufacture" name="mobile_manufacture" value="">
								<br/>
								
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_manufacture" name="fax_manufacture" value="">
								</br>

								<p>สถานที่เก็บรักษาวัตถุอันตราย</p>
								<p>ชื่อ</p>
								<input type="TEXT" class="form-control" id="name_storage" name="name_storage" value="">
								</br>

								<p>ตั้งอยู่เลขที่</p>
								<input type="TEXT" style="width:100px;" class="form-control" id="address_storage" name="address_storage"value="">
								<p>หมู่ที่</p>
								<input type="TEXT" style="width:50px;" class="form-control" id="mo_storage" name="mo_storage" value="">
								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_storage" name="soi_storage"value="">
								<br/>

								<p>ถนน</p>
								<input type="TEXT" class="form-control" id="street_storage" name="street_storage" value="">
								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_storage" name="district_storage" value="">
								<br/>

								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_storage" name="canton_storage" value="">
								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_storage" name="province_storage" value="">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" id="zip_storage" name="zip_storage" value="">
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_storage" name="mobile_storage" value="">
								<br/>
								
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_storage" name="fax_storage" value="">
								<br/>

								<p>ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบสำหรับการเก็บรักษา(ในกรณีที่มีประกาศฯออกตามความในมาตรา ๒๐(๒)<br/>
								<p>แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</br>
								<textarea type="TEXT" id="specialistBox" name="specialistBox" style="margin-top:20px; width:700px;"> </textarea></br>
								<p>(ในกรณีที่มีสถานที่เก็บรักษาวัตถุอันตรายมากกว่า ๑ แห่ง ให้ระบุรายละเอียดเพิ่มด้านหลัง)</p>
								</br>

								<p>ขออนุญาตผลิตวัตถุอันตรายตามรายละเอียด ดังต่อไปนี้</p>
								<br/>
								<p>ชื่อวัตถุอันตราย สูตรเคมี และอัตราส่วน</p></br>
								<textarea type="TEXT" id="hazardous_nameBox" name="hazardous_nameBox" style="margin-top:20px; width:700px;"> </textarea></br>
								
								<p>ลักษณะและสูตร(Formulation)</p>
								<input type="TEXT" class="form-control" id="formulaBox" name="formulaBox" value="">
								</br>
								
								<p>ชื่อทางการค้า(ถ้ามี)</p>
								<input type="TEXT" style="width:332px;" class="form-control" id="marketingBox" name="marketingBox" value="">
								</br>

								<p class="hazard_name">ทะเบียนเลขที่</p>
									<input type="TEXT" class="form-control" id="codeBox" value="{{data.codeBox}}"  type="TEXT" name="codeBox">
								</br>

								<p>ปริมาณ</p>
								<input type="TEXT" style="width:410px;" class="form-control" id="quantityBox" name="quantityBox" value="">
								</br>

								<p>หมายเหตุ</p>
								<textarea type="TEXT" id="notationBox" name="notationBox" style="margin-top:20px; width:700px;"> </textarea></br>
								<p>ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบสำหรับการผลิต(ในกรณีที่มีประกาศฯออกตามความในมาตรา ๒๐(๒)<br/>
								<p>แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</br>
								<textarea type="TEXT" id="specialist2" name="specialist2" style="margin-top:20px; width:700px;"> </textarea></br>


								</br></br>
									<p>พร้อมกันนี้ข้าพเจ้าได้ส่งมอบเอกสารประกอบคำขออนุญาตดังต่อไปนี้</p>
									</br></br>
									<div class="doc_zone">
								    </p></br></br>
									
									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									  <div class="infoRight">
						
									    <input id="idButton" name="idButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
								    
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
									     <div class="infoRight">
						
									    <input id="personButton" name="personButton"   value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม(ภ.พ.๒๐)
									      <div class="infoRight">
						
									    <input id="taxButton" name="taxButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									  

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบสำคัญการขึ้นทะเบียนวัตถุอันตราย
									   <div class="infoRight">
						
									    <input id="registerButton" name="registerButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนที่สังเขปแสดงสถานที่เก็บรักษาวัตถุอัตรายและบริเวณข้างเคียง
									    <div class="infoRight">
						
									    <input id="mapButton" name="mapButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนที่สังเขปแสดงสถานที่ผลิตรักษาวัตถุอัตรายและบริเวณข้างเคียง
									    <div class="infoRight">
						
									    <input id="mappButton" name="mappButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									<p class="checkboxLabel">
									   <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนผังภายในของอาคารที่ใช้เป็นสถานที่เก็บรักษาวัตถุอันตราย
									     <div class="infoRight">
						
									    <input id="mapINButton" name="mapINButton"  value=""type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 </br></br>

									 <p class="checkboxLabel">
									   <!-- <input class="checkbox"type="checkbox" value=""> -->
									  เอกสารแสดงกรรมวิธีการผลิต
									     <div class="infoRight">
						
									    <input id="wayButton" name="wayButton"  value=""type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 </br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงความรู้ความชำนาญของผู้เชี่ยวชาญหรือบุคลากรเฉพาะ
									     <div class="infoRight">
						
									    <input id="expertButton" name="expertButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>รับผิดชอบสำหรับการเก็บรักษา</p>
									</p></br></br>
									
									 
									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงลักษณะภาชนะบรรจุที่จะใช้และการหุ้มห่อหรือผูกมัด
									     <div class="infoRight">
						<!-- -->
									    <input id="containerButton" name="containerButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>ภาชนะบรรจุวัตถุอันตราย</p>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  เอกสารแสดงข้อมูลความปลอดภัยของวัตถุอันตราย
									    <div class="infoRight">
						
									   

									    <input id="secureButton" name="secureButton"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<div class="form-group infoLeft"> <br/>

								<p> *** กรณีมีมากกว่า 1 ที่</p> </br>

								<p>สถานที่เก็บวัตถุอันตรายชื่อ (๒)</p>
								<input type="TEXT" class="form-control" id="name_storage2" name="name_storage2" value="" style="width: 300px">

								<br>
								<p> ตั้งอยู่เลขที่ </p>
								<input type="TEXT" class="form-control" id="address_storage2" name="address_storage2" value="" style="width: 60px">
								
								<p>หมู่ที่</p>
								<input type="TEXT" class="form-control" id="mo_storage2" name="mo_storage2" value="" style="width: 60px">

								<p>ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" id="soi_storage2" name="soi_storage2" value="">

								<br>
								<p>ถนน</p>
								<input type="TEXT" class="form-control" id="street_storage2" name="street_storage2" value="">

								<p>ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" id="district_storage2" name="district_storage2" value="">
								
								</br>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" id="canton_storage2" name="canton_storage2" value="">
								
								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" id="province_storage2" name="province_storage2" value="">
								
								</br>
								<p>โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="mobile_storage2" name="mobile_storage2" value="">
							
								<p>โทรสาร</p>
								<input type="TEXT" class="form-control" id="fax_storage2" name="fax_storage2" value="">

								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบการเก็บรักษา <br>(ในกรณีที่มีใบประกาศฯ ออกตามความในมาตรา ๒๐(๒) แห่งพระราชบัญญัติวัตถุอันตราย <br> พ.ศ. ๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p>
									<br><br>
									<textarea id="specialistBox2" name="specialistBox2" rows="2" style="width: 600px" value="กรณีที่มีมากกว่า ๑ คน กรุณาระบุเป็นข้อๆ"></textarea>
								</br><br>

							</div>

								</div><!--doc zone-->

								
								<div class="button buttonRequest">
								<button class="btn btn-inverse" type="submit" style="height:30px; width: 80px;">ส่ง</button>

								<button class="btn btn-inverse" type="reset" style="height:30px; width: 80px;">รีเซ็ต</button>
							</div>
										
							</div><!-- infoleft -->

							
				
			</div><!--content-->
		</div>


	</body>
</html>