
<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			
			$('.carousel').carousel('cycle');
			$('#modal-button').click(function(e){
			      e.preventDefault();
			      window.location = "reject?comment=" + $("#comment").val()
			});

			{% if not file.idButton %}
			$('#idButton').attr("disabled", "disabled");
			{% endif %}
			$('#idButton').click(function(e){
			     
			      window.open("/file/{{file.idButton.id}}");
			});

			{% if not file.personButton %}
			$('#personButton').attr("disabled", "disabled");
			{% endif %}
			$('#personButton').click(function(e){
			     
			     window.open("/file/{{file.personButton.id}}");
			});

			{% if not file.taxButton %}
			$('#taxButton').attr("disabled", "disabled");
			{% endif %}
			$('#taxButton').click(function(e){
			     
			     window.open("/file/{{file.taxButton.id}}");
			});

			{% if not file.registerButton %}
			$('#registerButton').attr("disabled", "disabled");
			{% endif %}
			$('#registerButton').click(function(e){
			     
			     window.open("/file/{{file.registerButton.id}}");
			});

			{% if not file.mappButton %}
			$('#mappButton').attr("disabled", "disabled");
			{% endif %}
			$('#mappButton').click(function(e){
			     
			      window.open("/file/{{file.mappButton.id}}");
			});

			{% if not file.mapButton %}
			$('#mapButton').attr("disabled", "disabled");
			{% endif %}
			$('#mapButton').click(function(e){
			     
			    window.open("/file/{{file.mapButton.id}}");
			});

			{% if not file.mapINButton %}
			$('#mapINButton').attr("disabled", "disabled");
			{% endif %}
			$('#mapINButton').click(function(e){
			     
			      window.open("/file/{{file.mapINButton.id}}");
			});

			{% if not file.wayButton %}
			$('#wayButton').attr("disabled", "disabled");
			{% endif %}
			$('#wayButton').click(function(e){
			     
			     window.open("/file/{{file.wayButton.id}}");
			});

			{% if not file.expertButton %}
			$('#expertButton').attr("disabled", "disabled");
			{% endif %}
			$('#expertButton').click(function(e){
			     
			     window.open("/file/{{file.expertButton.id}}");
			});

			{% if not file.containerButton %}
			$('#containerButton').attr("disabled", "disabled");
			{% endif %}
			$('#containerButton').click(function(e){
			     
			    window.open("/file/{{file.containerButton.id}}");
			});

			{% if not file.secureButton %}
			$('#secureButton').attr("disabled", "disabled");
			{% endif %}
			$('#secureButton').click(function(e){
			     
			      window.open("/file/{{file.secureButton.id}}");
			});
		});
	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>
					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->


		
			<div class="content">
				<h1> คำขออนุญาตผลิตวัตถุอันตราย</h1>
				<h2> วอ.๑	 </h2>
		
					<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
					
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des infoRight">
									
								<!-- 	<p class="office" style="float:rigth; margin-left:30px; margin-top: -10px;" >กรม/สำนักงาน</p>
									<input type="TEXT" class="form-control" name="departmentBox" id="departmentBox" value="ddd" style="float:rigth;  margin-left:10px; width:120px; margin-top:0px;">
									<br>

									<p class="office" style="float:rigth; margin-left:30px; margin-top:-10px;" >กระทรวง</p>
									<input type="TEXT" class="form-control" name="ministryBox" id="ministryBox" value="" style="margin-left:10px; width:160px; margin-top:0px;">
									<br> -->

									<p >วันที่</p><input readonly type="TEXT" class="form-control" name="dayBox "id="dayBox" value="{{form.date.date.day}}">
									
									<p >เดือน</p><input readonly type="TEXT" class="form-control" name="monthBox" id="monthBox" value="{{form.date.date.month}}">
									
									<p >ปี</p><input readonly type="TEXT" class="form-control" name="yearBox" id="yearBox" value="{{form.date.date.year}}">
									

								</div>
							<!-- </div> -->

							<div class="form-group infoLeft">	
<!-- 
								<p class="code" >ใบสำคัญการขึ้นทะเบียนเลขที่</p>
								<input type="TEXT" class="form-control" name="codeBox" id="codeBox" value="{{data.codeBox}}">	
							</div>

							 -->
							
							<div class="form-group infoRight">
								
								<p>ข้าพเจ้า</p><input readonly type="TEXT" class="form-control" name="nameBox" id="nameBox" value="{{data.nameBox}}">
								
								<p>อายุ</p><input readonly type="TEXT" class="form-control" name="ageBox" id="ageBox" value="{{data.ageBox}}"><p> ปี </p>
								
								<p>สัญชาติ</p><input readonly type="TEXT" class="form-control" name="regionBox" id="regionBox" value="{{data.regionBox}}">
								

							</div>


							<div class="form-group infoLeft">		
							</div>

							<div class="form-group infoLeft">

									<p class="code-tax" >เลขประจำตัวผู้เสียภาษีอากร</p><input readonly type="TEXT" style="width:250px;" class="form-control" id="code_taxBox" name="code_taxBox" value="{{data.code_taxBox}}">

								</br>

								<p>สถานที่ติดต่อข้าพเจ้าตั้งอยู่บ้านเลขที่</p>
								<input readonly type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" value="{{data.address_contactBox}}">
								

								<p >หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" name="mo_contactBox "id="mo_contactBox" value="{{data.mo_contactBox}}">

								<p >ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" value="{{data.soi_contactBox}}">

								<br/>


								<p  >ถนน</p>
								<input readonly type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" value="{{data.street_contactBox}}">

								<p  >ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" value="{{data.district_contactBox}}">
								<br/>

								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" value="{{data.canton_contactBox}}">

								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" name="provice_contactBox" id="provice_contactBox" value="{{data.province_contactBox}}">

								</br>

								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" value="{{data.zip_contactBox}}">


								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" value="{{data.mobile_contactBox}}">
								<br/>

								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_contactBox" value="{{data.fax_contactBox}}">

								</br>

								<p>สถานที่ผลิตวัตถุอันตราย</p>
								<p>ชื่อ</p>
								<input readonly type="TEXT" class="form-control" name="name_manufacture" id="name_manufacture" value="{{data.name_manufacture}}">
								</br>

								<p>ตั้งอยู่เลขที่</p>
								<input readonly type="TEXT" style="width:100px;" class="form-control" name="address_manufacture" id="address_manufacture" value="{{data.address_manufacture}}">
								<p>หมู่ที่</p>
								<input readonly type="TEXT" style="width:50px;" class="form-control" name="mo_manufacture" id="mo_manufacture" value="{{data.mo_manufacture}}">
								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" name="soi_manufacture" id="soi_manufacture" value="{{data.soi_manufacture}}">
								<br/>

								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" name="street_manufacture" id="street_manufacture" value="{{data.street_manufacture}}">
								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" name="district_manufacture" id="district_manufacture" value="{{data.district_manufacture}}">
								<br/>

								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" name="canton_manufacture" id="canton_manufacture" value="{{data.canton_manufacture}}">
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" name="province_manufacture" id="province_manufacture" value="{{data.province_manufacture}}">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" name="zip_manufacture" id="zip_manufacture" value="{{data.zip_manufacture}}">
								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" name="mobile_manufacture" id="mobile_manufacture" value="{{data.mobile_manufacture}}">
								<br/>
								
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" name="fax_manufacture" id="fax_manufacture" value="{{data.fax_manufacture}}">
								</br>

								<p>สถานที่เก็บรักษาวัตถุอันตราย</p>
								<p>ชื่อ</p>
								<input readonly type="TEXT" class="form-control" id="name_storage" name="name_storage" value="{{data.name_storage}}">
								</br>

								<p>ตั้งอยู่เลขที่</p>
								<input readonly type="TEXT" style="width:100px;" class="form-control" id="address_storage" name="address_storage" value="{{data.address_storage}}">
								<p>หมู่ที่</p>
								<input readonly type="TEXT" style="width:50px;" class="form-control" id="mo_storage" name="mo_storage" value="{{data.mo_storage}}">
								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" id="soi_storage" name="soi_storage"value="{{data.soi_storage}}">
								<br/>

								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" id="street_storage" name="street_storage" value="{{data.street_storage}}">
								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" id="district_storage" name="district_storage" value="{{data.district_storage}}">
								<br/>

								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" id="canton_storage" name="canton_storage" value="{{data.canton_storage}}">
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" id="province_storage" name="province_storage" value="{{data.province_storage}}">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" id="zip_storage" name="zip_storage" value="{{data.zip_storage}}"> 
								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" id="mobile_storage" name="mobile_storage" value="{{data.mobile_storage}}">
								<br/>
								
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_storage" name="fax_storage" value="{{data.fax_storage}}">
								<br/>

								<p>ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบสำหรับการเก็บรักษา(ในกรณีที่มีประกาศฯออกตามความในมาตรา ๒๐(๒)<br/>
								<p>แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p></br>
								<textarea readonly type="TEXT" id="specialistBox" name="specialistBox" style="margin-top:20px; width:700px;" value="">{{data.specialistBox}} </textarea></br>
								
								</br>

								<p>ขออนุญาตผลิตวัตถุอันตรายตามรายละเอียด ดังต่อไปนี้</p>
								<br/>
								<p>ชื่อวัตถุอันตราย สูตรเคมี และอัตราส่วน</p></br>
								<textarea readonly type="TEXT" id="hazardousBox" name="hazardousBox" style="margin-top:20px; width:700px;" value="{{data.hazardousBox}}"> {{data.specialistBox}}</textarea></br>
								
								<p>ลักษณะและสูตร(Formulation)</p>
								<input readonly type="TEXT" class="form-control" id="formulaBox" name="formulaBox" value="{{data.formulaBox}}">
								</br>
								
								<p>ชื่อทางการค้า(ถ้ามี)</p>
								<input readonly type="TEXT" style="width:332px;" class="form-control" id="marketingBox" name="marketingBox" value="{{data.marketingBox}}">
								</br>

								<p>ปริมาณ</p>
								<input readonly type="TEXT" style="width:410px;" class="form-control" id="seller_nameBox" name="seller_nameBox" value="{{data.seller_nameBox}}">
								</br>

								<p>หมายเหตุ</p>
								<textarea readonly type="TEXT" id="notationBox" name="notationBox" style="margin-top:20px; width:700px;" value=""> {{data.notationBox}}</textarea></br>
								<p>ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบสำหรับการผลิต(ในกรณีที่มีประกาศฯออกตามความในมาตรา ๒๐(๒)<br/>
								<p>แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</br>
								<textarea readonly type="TEXT" id="specialist2" name="specialist2" style="margin-top:20px; width:700px;" value=""> {{data.specialist2}}</textarea></br>


								</br></br>
									<p>เอกสารและตัวอย่างที่ต้องส่งประกอบการผลิตและเก็บรักษาวัตถุอันตราย</p>
									</br></br>
									<div class="doc_zone">
								    </p></br></br>
									
										<p>
									 
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
	    							<div class="input-append infoRight">
						
									     <button  id="idButton" name = "idButton"  class="btn btn-warning" type="button" style="height:30px; ">ดูเอกสาร</button>
									 </div>

									</p></br></br>

									<p>
									
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นิติบุคคล
	    							<div class="input-append infoRight">
									  
									     <button id="personButton" name = "personButton" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


									<p>
									
									  สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม(ภ.พ.๒๐)
	    							<div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button id="taxButton" name = "taxButton" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


									  

									<p>
									
									  สำเนาใบสำคัญการขึ้นทะเบียนวัตถุอันตราย
	    								<div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button id="registerButton" name = "registerButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


									<p>
									 <!-- <input class="checkbox"type="checkbox" value=""id="keepMapCheck"> -->
									  แผนที่สังเขปแสดงสถานที่เก็บรักษาวัตถุอัตรายและบริเวณข้างเคียง
	   								<div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button  id="mapButton" name = "mapButton"   class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


									<p>
									  <!-- <input class="checkbox"type="checkbox" value=""id="copyAnalysisCheck"> -->
									  แผนที่สังเขปแสดงสถานที่ผลิตรักษาวัตถุอัตรายและบริเวณข้างเคียง
	    								<div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button  id="mappButton" name = "mappButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

									<p>
									  <!-- <input class="checkbox"type="checkbox" value=""id="builingMapCheck" > -->
									  แผนผังภายในของอาคารที่ใช้เป็นสถานที่เก็บรักษาวัตถุอันตราย
	   									 <div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button  id="mapINButton" name = "mapINButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
								
									</p></br></br>

									<p>
									  <!-- <input class="checkbox"type="checkbox" value=""id="builingMapCheck" > -->
									  เอกสารแสดงกรรมวิธีการผลิต
	   									 <div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button  id="wayButton" name = "wayButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
								
									</p></br></br>

									<p>
									  <!-- <input class="checkbox"type="checkbox" value=""id="knowledgeCheck" > -->
									เอกสารแสดงความรู้ความชำนาญของผู้เชี่ยวชาญหรือบุคลากรเฉพาะ
	    					<div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button id="expertButton" name = "expertButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									 <p>รับผิดชอบสำหรับการเก็บรักษา</p>
									</p></br></br>
									
									 
									<p>
									   <!-- <input class="checkbox"type="checkbox" value=""id="containerCheck"> -->
									เอกสารแสดงลักษณะภาชนะบรรจุที่จะใช้และการหุ้มห่อหรือผูกมัด
	    							<div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button id="containerButton" name = "containerButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									 <p>ภาชนะบรรจุวัตถุอันตราย</p>
									</p></br></br>


									<p>
									  <!-- <input class="checkbox"type="checkbox" value=""id="securityCheck" > -->
									  เอกสารแสดงข้อมูลความปลอดภัยของวัตถุอันตราย
	    <div class="input-append infoRight">
									    <!-- <input  id="ensure_doc" type="text" style="width:200px; height:30px;">  -->
									     <button id="secureButton" name = "secureButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

							<div class="form-group infoLeft"> <br/>

								<p> *** กรณีมีมากกว่า 1 ที่</p> </br>

									<p>สถานที่เก็บวัตถุอันตรายชื่อ</p>
								<input readonly type="TEXT" class="form-control" id="name_storage2" name="name_storage2" value="{{data.name_storage2}}" style="width: 300px">

								<br>
								<p> ตั้งอยู่เลขที่ </p>
								<input readonly type="TEXT" class="form-control" id="address_storage2" id="address_storage2" value="{{data.address_storage2}}" style="width: 60px">
								
								<p>หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" id="mo_storage2" name="mo_storage2" value="{{data.mo_storage2}}" style="width: 60px">

								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" id="soi_storage2" name="soi_storage2" value="{{data.soi_storage2}}">

								<br>
								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" id="street_storage2" name="street_storage2" value="{{data.street_storage2}}">

								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" id="district_storage2" name="address_storage2" value="{{data.address_storage2}}">
																	
								</br>
								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" id="canton_storage2" name="canton_storage2" value="{{data.canton_storage2}}">
								
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" id="province_storage2" name="province_storage2" value="{{data.province_storage2}}">
								
								</br>
								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" id="mobile_storage2" name="mobile_storage2" value="{{data.mobile_storage2}}">
							
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_storage2" name="fax_storage2" value="{{data.fax_storage2}}">


								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบการเก็บรักษา <br>(ในกรณีที่มีใบประกาศฯ ออกตามความในมาตรา ๒๐(๒) แห่งพระราชบัญญัติวัตถุอันตราย <br> พ.ศ. ๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p>
									<br><br>
									<textarea readonly id="specialistBox2" name="specialistBox2" rows="2" value="" style="width: 600px">{{data.specialistBox2}}</textarea>
								</br><br>

							</div>

								</div><!--doc zone-->

								<div class="button buttonView">
									<!-- <button id="home" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> กลับหน้าหลัก </button> -->
									<a href="approved/" ><button id="submit" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> อนุมัติ </button></a>
									<button id="reset" class="btn btn-inverse" type="button" style="height:30px; width: 80px;" data-toggle="modal" href="#identify_customer_modal">  ไม่อนุมัติ </button>
									<div id="identify_customer_modal" class="modal hide fade">
										 <form id="modal-form">
										  <div class="modal-header">
										    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										    <h3>  เหตุผลที่เอกสารผู้ประกอบการไมผ่านการอนุมัติ </h3>
										  </div>
										  <div class="modal-body">
										    <textarea id="comment" name="comment" style="margin-top:20px; width:450px; height:200px;"> </textarea>
										  </div>
										  <div class="modal-footer">
										    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">  ยกเลิก </a>
										    <button class="btn btn-primary" id="modal-button"> แจ้งผู้ประกอบการ </button>
										  </div>
										</form>
									</div>
								</div><!--button->

							
				
			</div><!--content-->
		</div>


	</body>
<!-- </html> -->