<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/validate.js"></script>
	
	<!-- // <script type="text/javascript"> -->
	<!-- // function validateFrom(){
	// 	var Varl = new validate();
	// 	var test = Varl.start();
	// 	return test;
	// } -->
	<!-- // </script> -->

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			
		</header>
		<!--header end -->


		
			<div class="content">
				<h1> คำขอแก้ไขเปลี่ยนแปลงใบอนุญาตผลิตวัตถุอันตราย</h1>
				
		
				<form action="" method="post"  enctype="multipart/form-data">{% csrf_token %}
					<input type="hidden" name="form_type" value="produce_modify">
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									
									<p >วันที่</p><input readonly type="TEXT" class="form-control"  id="dayBox" name="dayBox" value="{{form.date.date.day}}">
									
									<p >เดือน</p><input readonly type="TEXT" class="form-control"  id="monthBox" name="monthBox" value="{{form.date.date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control"  id="yearBox" name="yearBox" value="{{form.date.date.year}}">
									
 	
								</div>
							<!-- </div> -->

							
						<div class="form-group infoleft">
									<p>ใบอนุญาตเลขที่</p><input disabled type="TEXT" class="form-control" name="orderBox" id="orderBox" value="{{form.id}}">
								</div>

								<br/>

							<div class="form-group infoRight">
								
								<p >ข้าพเจ้า</p><input readonly type="TEXT" class="form-control" name="nameBox" id="nameBox" value="{{data.nameBox}}">
								
								<p >อายุ</p><input readonly type="TEXT" class="form-control" name="ageBox" id="ageBox" palceholder="{{data.ageBox}}"><p> ปี </p>
								
								<p >สัญชาติ</p><input readonly type="TEXT" class="form-control" name="regionBox" id="regionBox" value="{{data.regionBox}}">
								

							</div>


							

							<div class="form-group infoLeft">

									<p >เลขประจำตัวผู้เสียภาษีอากร</p><input readonly type="TEXT" style="width:250px;" class="form-control" name="code_taxBox" id="code_taxBox" value="{{data.code_taxBox}}">

								</br>

								<p>สถานที่ติดต่อข้าพเจ้าตั้งอยู่บ้านเลขที่</p>
								<input readonly type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" value="{{data.address_contactBox}}">
								

								<p >หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" name="mo_contactBox" id="mo_contactBox" value="{{data.mo_contactBox}}">

								<p >ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" value="{{data.soi_contactBox}}">

								<br/>


								<p  >ถนน</p>
								<input readonly type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" value="{{data.street_contactBox}}">

								<p >ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" value="{{data.district_contactBox}}">
								<br/>
								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" value="{{data.canton_contactBox}}">

								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" name="province_contactBox"  id="province_contactBox" value="{{data.province_contactBox}}">

								</br>

								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" value="{{data.zip_contactBox}}">


								<p  >โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" value="{{data.mobile_contactBox}}">
								<br/>
								<p >โทรสาร</p>
								<input type="TEXT" readonly class="form-control" name="fax_contactBox" id="fax_contactBox" value="{{data.fax_contactBox}}">
								
								</br>

								<p>สถานที่ผลิตวัตถุอันตราย</p>
								<p>ชื่อ</p>
								<input type="TEXT" readonly class="form-control" id="name_manufacture" name="name_manufacture" value="{{data.name_manufacture}}">
								</br>

								<p>ตั้งอยู่เลขที่</p>
								<input type="TEXT" readonly style="width:100px;" class="form-control" id="address_manufacture" name="address_manufacture"value="{{data.address_manufacture}}">
								<p>หมู่ที่</p>
								<input type="TEXT" readonly style="width:50px;" class="form-control" id="mo_manufacture" name="mo_manufacture" value="{{data.mo_manufacture}}">
								<p>ตรอก/ซอย</p>
								<input type="TEXT" readonly class="form-control" id="soi_manufacture" name="soi_manufacture" value="{{data.soi_manufacture}}">
								<br/>

								<p>ถนน</p>
								<input type="TEXT" readonly class="form-control" id="street_manufacture" name="street_manufacture" value="{{data.street_manufacture}}">
								<p>ตำบล/แขวง</p>
								<input type="TEXT" readonly class="form-control" id="district_manufacture" name="district_manufacture" value="{{data.district_manufacture}}">
								<br/>

								<p>อำเภอ/เขต</p>
								<input type="TEXT" readonly class="form-control" id="canton_manufacture" name="canton_manufacture" value="{{data.canton_manufacture}}">
								<p>จังหวัด</p>
								<input type="TEXT" readonly class="form-control" id="province_manufacture" name="province_manufacture" value="{{data.province_manufacture}}">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" readonly class="form-control" id="zip_manufacture" name="zip_manufacture" value="{{data.zip_manufacture}}">
								<p>โทรศัพท์</p>
								<input type="TEXT" readonly class="form-control" id="mobile_manufacture" name="mobile_manufacture" value="{{data.mobile_manufacture}}">
								<br/>
								
								<p>โทรสาร</p>
								<input type="TEXT" readonly class="form-control" id="fax_manufacture" name="fax_manufacture" value="{{data.fax_manufacture}}">
								</br>

								<p>สถานที่เก็บรักษาวัตถุอันตราย</p>
								<p>ชื่อ</p>
								<input type="TEXT" readonly class="form-control" id="name_storage" name="name_storage" value="{{data.name_storage}}">
								</br>

								<p>ตั้งอยู่เลขที่</p>
								<input readonly type="TEXT" style="width:100px;" class="form-control" id="address_storage" name="address_storage" value="{{data.address_storage}}">
								<p>หมู่ที่</p>
								<input readonly type="TEXT" style="width:50px;" class="form-control" id="mo_storage" name="mo_storage" value="{{data.mo_storage}}">
								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" id="soi_storage" name="soi_storage" value="{{data.soi_storage}}">
								<br/>

								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" id="street_storage" name="street_storage" value="{{data.street_storage}}">
								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" id="district_storage" name="district_storage" value="{{data.district_storage}}">
								<br/>

								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" id="canton_storage" name="canton_storage" value="{{data.canton_storage}}">
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" id="province_storage" name="province_storage" value="{{data.province_storage}}">
								<br/>
								
								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" id="zip_storage" name="zip_storage" value="{{data.zip_storage}}">
								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" id="mobile_storage" name="mobile_storage" value="{{data.mobile_storage}}">
								<br/>
								
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_storage" name="fax_storage" value="{{data.fax_storage}}">
								<br/>

								<p class="description"> รายการที่แก้ไขขอการเปลี่ยนแปลง</p>
								<textarea name="descriptionBox" id="descriptionBox" style="font-size:20px; width:565px; height:200px; margin-top:20px;" value="" ></textarea>


								</br></br>


								</br></br>
									<p>พร้อมกันนี้ข้าพเจ้าได้ส่งมอบเอกสารประกอบคำขออนุญาตดังต่อไปนี้</p>
									</br></br>
									<div class="doc_zone">
								    </p></br></br>
									
									
									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									  <div class="infoRight">
						
									    <input id="identity" name="identity"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
								    
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
									     <div class="infoRight">
						
									    <input id="person" name="person"   value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบทะเบียนภาษีมูลค่าเพิ่ม(ภ.พ.๒๐)
									      <div class="infoRight">
						
									    <input id="tax" name="tax"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>


									  

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาใบสำคัญการขึ้นทะเบียนวัตถุอันตราย
									   <div class="infoRight">
						
									    <input id="register" name="register"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  สำเนาผลการวิเคราะห์วัตถุอันตราย
									   <div class="infoRight">
						
									    <input id="analysis" name="analysis"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนที่สังเขปแสดงสถานที่เก็บรักษาวัตถุอัตรายและบริเวณข้างเคียง
									    <div class="infoRight">
						
									    <input id="map" name="map"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

									<p class="checkboxLabel">
									   <!-- <input class="checkbox"type="checkbox" value=""> -->
									  แผนผังภายในของอาคารที่ใช้เป็นสถานที่เก็บรักษาวัตถุอันตราย
									     <div class="infoRight">
						
									    <input id="mapIn" name="mapIn"  value=""type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>(ในกรณีที่มีประกาศฯ ออกตามความในมาตรา๒๐(๑) แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ ให้สถานที่เก็บรักษาวัตถุอันตรายต้องเป็นไปตามหลักเกณฑ์ที่กำหนด)</p>
									</p></br></br>

									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงความรู้ความชำนาญของผู้เชี่ยวชาญหรือบุคลากรเฉพาะ
									     <div class="infoRight">
						
									    <input id="expert" name="expert"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>รับผิดชอบสำหรับการเก็บรักษา</p>
									</p></br></br>
									
									 
									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									เอกสารแสดงลักษณะภาชนะบรรจุที่จะใช้และการหุ้มห่อหรือผูกมัด
									     <div class="infoRight">
						<!-- -->
									    <input id="container" name="container"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									 <p>ภาชนะบรรจุวัตถุอันตราย</p>
									</p></br></br>


									<p class="checkboxLabel">
									  <!-- <input class="checkbox"type="checkbox" value=""> -->
									  เอกสารแสดงข้อมูลความปลอดภัยของวัตถุอันตราย
									    <div class="infoRight">
						
									   

									    <input id="secure" name="secure"  value="" type="file" class="filestyle" data-classButton="btn btn-primary" data-input="false">
									 </div>
									</p></br></br>

								</div><!--doc zone-->

								<p>มาเพื่อประกอบพิจารณาด้วย</p>
								<div class="button buttonRequest">
								<button class="btn btn-inverse" type="submit" style="height:30px; width: 80px;">ส่ง</button>

								<button class="btn btn-inverse" type="reset" style="height:30px; width: 80px;">รีเซ็ต</button>
							</div>
										
							</div><!-- infoleft -->

							
				
			</div><!--content-->
		</div>


	</body>
</html>