<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<!-- <meta name="viewport" content="width=deivce-width, initial-scale=1.0"> -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			
			$('.carousel').carousel('cycle');
			$('#modal-button').click(function(e){
			      e.preventDefault();
			      window.location = "reject?comment=" + $("#comment").val()
			});
		});
	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>
					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->


		<!-- <div class="span12" style="margin:0; padding:0"> -->
			<div class="content">
				<h1> ใบอนุญาตผลิตวัตถุอันตราย </h1>
				<h2> วอ.๒ </h2>
		
				<form>
					
							<!--ฃฃ <div class="form-group"> -->
								

			 					<div class="form-inline date_des infoRight">
										
								<!-- 	<p class="office" style="float:rigth; margin-left:30px; margin-top: -10px;" >กรม/สำนักงาน</p>
									<input readonly type="TEXT" class="form-control" name="departmentBox" id="departmentBox" value="{{data.departmentBox}}" style="float:rigth;  margin-left:10px; width:120px; margin-top:0px;">
									<br>

									<p class="office" style="float:rigth; margin-left:30px; margin-top:-10px;" >กระทรวง</p>
									<input readonly type="TEXT" class="form-control" name="ministryBox"id="ministryBox" value="{{data.ministryBox}}" style="margin-left:10px; width:160px; margin-top:0px;">
									<br> -->

					
									<p >วันที่</p><input readonly type="TEXT" class="form-control"  id="dayBox" name="dayBox" value="{{form.date.date.day}}">
									
									<p >เดือน</p><input readonly type="TEXT" class="form-control"  id="monthBox" name="monthBox" value="{{form.date.date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control"  id="yearBox" name="yearBox" value="{{form.date.date.year}}">
									

								</div>

								<div class="form-group infoLeft">
								<p class="hazard_name">ใบอนุญาตเลขที่</p>
									<input type="TEXT" class="form-control" id="orderBox" 
									value="{{form.id}}" readonly type="TEXT" name="orderBox">

								<br/>
								

							
								</div>
							<!-- </div> -->
						<div class="form-group infoleft">
								<!-- 	<p>ใบอนุญาตเลขที่</p><input disabled type="TEXT" class="form-control" name="orderBox" id="orderBox" value="{{form.id}}">
								</div>
 -->
							<!-- 	<br/>

							<div class="form-group infoLeft">
								<p>ใบสำคัญการขึ้นทะเบียนเลขที่</p><input disabled type="TEXT" class="form-control" id="codeBox" name="codeBox" value="{{data.codeBox}}">
							</div> -->
							<p class="hazard_name">ใบสำคัญการขึ้นทะเบียนเลชที่</p>
									<input type="TEXT" class="form-control" id="codeBox" value="{{data.codeBox}}" readonly type="TEXT" name="codeBox">

								<br/>
							
								<p class="name" style= >อนุญาตให้</p>
								<input type="TEXT" class="form-control" name="nameBox" id="nameBox" value="{{data.nameBox}}" style="width:500px;">

							
								<p class="region" >สัญชาติ</p>
								<input type="TEXT" class="form-control" name="regionBox" id="regionBox" value="{{data.regionBox}}" style="width:120px;">
							</br>	
								
								<p class="code-tax" >เลขประจำตัวผู้เสียภาษีอากร</p><input type="TEXT" class="form-control" name="code_taxBox" id="code_taxBox" value="{{data.code_taxBox}}"
								style="width:250px;">

								
								
								</br>
								<p class="contact" >สถานที่ติต่อของผู้รับใบอณุญาตตั้งอยู่เลขที่ </p><input type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" value="{{data.address_contactBox}}" style="width:70;">

							
								
								

								<p class="mo_contact" >หมู่ที่</p>
								<input type="TEXT" class="form-control" name="mo_contactBox" id="mo_contactBox" value="{{data.mo_contactBox}}"style="width:70;">

								<p class="soi_contact" >ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" value="{{data.soi_contactBox}}"style="width:175;">

								<br/>


								<p class="street_contact" >ถนน</p>
								<input type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" value="{{data.street_contactBox}}" style="width:175px;">

								<p class="district_contact" >ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" value="{{data.district_contactBox}}" style="width:175px;">
								
								<p class="canton_contact" >อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" value="{{data.canton_contactBox}}" style="width:175px;">
								</br>

								<p class="province_contact" >จังหวัด</p>
								<input type="TEXT" class="form-control" name="province_contactBox" id="province_contactBox" value="{{data.province_contactBox}}" style="width:100px;">

								<p class="province_contact" >รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" value="{{data.zip_contactBox}}" style="width:100px;">

								<p class="mobile_contact" >โทรศัพท์</p>
								<input type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" value="{{data.mobile_contactBox}}" style="width:120px;">
								
								<p class="fax_contact" >โทรสาร</p>
								<input type="TEXT" class="form-control" name="fax_contactBox" id="fax_contactBox" value="{{data.fax_contactBox}}" style="width:120px;">
								<br/>
								
								
									<p> สถานที่ผลิตวัตถุอันตรายชื่อ </p><input type="TEXT" class="form-control" name="name_manufacture" id="name_manufacture" value="{{data.name_manufacture}}">
								</br>
									<p> ตั้งอยู่เลขที่  </p><input type="TEXT" style="width:100;"class="form-control" name="address_manufacture" id="address_manufacture" value="{{data.address_manufacture}}">

									<p> หมู่ที่ </p> <input type="TEXT" style="width:50;"class="form-control" name="mo_manufacture" id="mo_manufacture" value="{{data.mo_manufacture}}">
									<p> ตรอก/ซอย </p> <input type="TEXT" class="form-control" name="soi_manufacture" id="soi_manufacture" value="{{data.soi_manufacture}}" style="width:125px;">
									<p> ถนน </p> <input type="TEXT" class="form-control" name="street_manufacture" id="street_manufacture" value="{{data.street_manufacture}}" style="width:132px;">
									</br>
						
									

								
									<p>ตำบล/แขวง</p>
									<input type="TEXT" class="form-control" name="district_manufacture" id="district_manufacture" value="{{data.district_manufacture}}" style="width:170px;">
									<p>อำเภอ/เขต</p>
									<input type="TEXT" class="form-control" name="canton_manufacture" id="canton_manufacture" value="{{data.canton_manufacture}}" style="width:170px;">
									<p>จังหวัด</p>
									<input type="TEXT" class="form-control" name="province_manufacture" name="province_manufacture" value="{{data.province_manufacture}}" style="width:170px;">
									</br>
									
									<p>รหัสไปรษณีย์</p>
									<input type="TEXT" class="form-control" name="zip_manufacture" id="zip_manufacture" value="{{data.zip_manufacture}}" style="width:170px;">
									<p>โทรศัพท์</p>
									<input type="TEXT" class="form-control" name="mobile_manufacture" id="mobile_manufacture" value="{{data.mobile_manufacture}}" style="width:170px;">
									<p>โทรสาร</p>
									<input type="TEXT" class="form-control" name="fax_manufacture" name="fax_manufacture" value="{{data.fax_manufacture}}" style="width:170px;">
									


								</br>
									<p>ผลิตวัตถุอันตรายตามรายการดังต่อไปนี้</p>
									

								</br></br>
									<p>ชื่อวัตถุอันตราย สูตรเคมี และอัตราส่วน</p><br/>
									<textarea readOnly type="TEXT" id="hazardous_nameBox" name="hazardous_nameBox" style="margin-top:20px; width:700px;" value=""> {{data.hazardous_nameBox}} </textarea></br>
								</br>
									<p class"producer_name"> ลักษญะและสูตร(Formulation)</p>
									<input type="TEXT" class="form-control" name="formulaBox" id="formulaBox" value="{{data.formulaBox}}">

								</br>
									<p class"importer_name"> ชื่อทางการค้า( ถ้ามี )</p>
									<input type="TEXT" class="form-control" name="marketingBox" id="marketingBox" value="{{data.marketingBox}}">

								</br>
									<p class"seller_name">ปริมาณ</p>
									<input type="TEXT" class="form-control" name="quantityBox" id="quantityBox" value="{{data.quantityBox}}">

								</br>
									<p class"type_using"> หมายเหตุ</p>
									<textarea readOnly type="TEXT" id="notationBox" name="notationBox" style="margin-top:20px; width:700px;" value="">{{data.notationBox}} </textarea></br>


								</br>
									<p class"package_name">สถานที่เก็บรักษาวัตถุอันตรายตามรายการด้านหลังใบอนุญาตนี้</p>
									

								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบสำหรับการผลิต(ในกรณีที่มีประกาศฯ ออกตามความในมาตรา ๒๐(๒)</p>
								</br>
									<p> แห่งพระราชบัญญัติวัตถุอันตราย พ.ศ.๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะผู้รับผิดชอบ)</p>
								</br>
									
									<textarea readOnly type="TEXT" id="specialistBox" name="specialistBox" style="margin-top:20px; width:700px;" value ="">{{data.specialistBox}} </textarea></br>
								</br>
									<!-- <p>ใบอนุญาตนี้ออกโดยมีเงื่อนไข ดังต่อไปนี้</p>

									<textarea readOnly type="TEXT" id="conditionBox" name="conditionBox" style="margin-top:20px; width:700px;" value="{{data.conditionBox}}"> <

										/textarea></br> -->
						<div class="form-group infoLeft"> <br/>

								<p> *** รายการด้านหลัง</p> </br>

									<p>สถานที่เก็บวัตถุอันตรายชื่อ</p>
								<input readonly type="TEXT" class="form-control" id="name_storage2" name="name_storage2" value="{{data.name_storage2}}" style="width: 300px">

								<br>
								<p> ตั้งอยู่เลขที่ </p>
								<input readonly type="TEXT" class="form-control" id="address_storage2" name="address_storage2" value="{{data.address_storage2}}" style="width: 60px">
								
								<p>หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" id="mo_storage2" name="mo_storage2" value="{{data.mo_storage2}}" style="width: 60px">

								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" id="soi_storage2" name="soi_storage2" value="{{data.soi_storage2}}">

								<br>
								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" id="street_storage2" name="street_storage2" value="{{data.street_storage2}}">

								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" id="district_storage2" name="district_storage2" value="{{data.district_storage2}}">
																	
								</br>
								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" id="canton_storage2" name="canton_storage2" value="{{data.canton_storage2}}">
								
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" id="province_storage2" name="province_storage2" value="{{data.province_storage2}}">
								
								</br>
								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" id="mobile_storage2" name="mobile_storage2" value="{{data.mobile_storage2}}">
							
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" id="fax_storage2" name="fax_storage2" value="{{data.fax_storage2}}">


								</br>
									<p> ชื่อผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบการเก็บรักษา <br>(ในกรณีที่มีใบประกาศฯ ออกตามความในมาตรา ๒๐(๒) แห่งพระราชบัญญัติวัตถุอันตราย <br> พ.ศ. ๒๕๓๕ กำหนดให้ต้องมีผู้เชี่ยวชาญหรือบุคลากรเฉพาะรับผิดชอบฯ)</p>
									<br><br>
									<textarea readonly id="specialistBox2" name="specialistBox2" rows="2" value="" style="width: 600px">{{data.specialistBox2}}</textarea>
								</br><br>

							</div>

									<div class="date_des">
										
										<p>ใบอนุญาตนี้ให้ใช้ได้จนถึงวันที่</p>	<br/>	
									
									<p class="date" >วันที่</p><input readonly type="TEXT" class="form-control" id="dayBox2" name="dayBox2" value="{{form.expire.date.day}}">
									
									<p class="date" >เดือน</p><input readonly type="TEXT" class="form-control" id="monthBox2" name="monthBox2" value="{{form.expire.date.month}}">
									
									<p class="date">ปี</p><input readonly type="TEXT" class="form-control" id="yearBox2" name="yearBox2" value="{{form.expire.date.year}}">
									

								</div>

									<!-- <div class="button" style="float:right; "> -->


									<div class="button buttonView" >
									<button class="btn btn-inverse" type="button" style="height:30px; width: 80px;"onclick="window.location.href='/list'">กลับ</button>
									</div>


									<!-- </div> -->

								</div><!--doc zone-->
								
										
							</div><!-- infoleft -->
							
				</form><!--form-->
			</div><!--content-->
		<!-- </div> -->


	</body>
</html>