<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->

	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">

	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body>

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

				<!-- DESKTOP -->
						<ul class="mainmenu visible-desktop">
							<li  style="margin-left:55px;">
								<a href="/login"> หน้าหลัก </a>
						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li class="login dropdown pull-right" >

							<a href="#" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: -100px;">เข้าสู่ระบบ</a>
							<ul class="dropdown-menu" style="padding-left: 15px; padding-right: 15px; 
							padding-top: 15px; width:300px; padding-top:-10px;">
							<li><h2 style="margin-top: 0px;">กรุณาเข้าสู่ระบบ</h2></li>

								<form action="/login/" method="post" style="width:300px; padding-top:10px;">{% csrf_token %}
									<input name="identity" id="username" type="text" placeholder="username"> 
									<input name="password" id="password" type="password" placeholder="password"><br>
								
									
									<button type="submit" class="btn btn-inverse" style="margin-top:5px;">เข้าสู่ระบบ</button>
									<button type="submit" class="btn btn-warning" style="margin-top:5px;">ยกเลิก</button>
								</form>
							</ul>
						</li>
						
						
					</ul>
					</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="img/logo-color.png"> -->
			</div>

			
		</header>
		<!--header end -->


		
			<form action="/register/" method="post">
				{% csrf_token %}

    			<div class="content" style="margin-left:150px;">

    				<h2 style=" margin-left:50px; margin-top:30px; color:#0A0A0A; 
    					font-family: 'thai_sans_lite'; "> ข้อมูลเข้าสู่ระบบ </h2>
    				
    				<div class="content1">
    					
    					<div class="span3" style="margin-left: 50px;">
						  <div role="form">
	    					<div class="form-group">
									<p id="idText"> Username</p>
									<input type="TEXT" class="form-control" id="idBox" name="idBox"placeholder="Enter Username">
								</div>

								<div style="width:280px;">
								<div class="form-group">
									<p id="PasswordText">Password</p>
									<input type="password" class="form-control" id="passwordBox" name="passwordBox" placeholder="Enter Password">
								</div>
								</div>

	    				   </div>
	    				</div>

	    				<div class="span3" style="margin-left: 120px;">
						<div role="form">
							

							<div class="form-group" style="margin-top:90px;">
								<p for="PasswordText">Re-Password</p>
								<input type="password" class="form-control" id="re-passwordBox" name="re-passwordBox" placeholder="Enter Password">
							</div>
						</div>
					</div>
	    			</div>



	    			 <h2 style=" margin-left:50px; margin-top:30px; color:#0A0A0A; 
    					font-family: 'thai_sans_lite';"> ข้อมูลส่วนตัว </h2>

				   <div class="content2">
				   	   
						<div class="span3" style="margin-left: 50px;">
							<div role="form">
								
								<div class="form-group">
									<p for="nameText">ชื่อ</p>
									<input type="TEXT" class="form-control" id="nameBox" name="nameBox" placeholder="Enter First Name">
								</div>
								
								<div class="form-group">
									<p for="emailText">E-mail</p>
									<input type="TEXT" class="form-control" id="emailBox"  name="emailBox" placeholder="Enter E-mail">
								</div>

								<p>วันเกิด</p>
								<div class="form-inline" style="margin-top:-10px;">
									<p class="dateRe" >วันที่</p><input type="TEXT" class="form-control" 
									id="birthDayBox" name="birthDayBox" placeholder="01">
									<p class="dateRe" >เดือน</p><input type="TEXT" class="form-control" 
									id="birthmonthBox" name="birthmonthBox" placeholder="01">
									<p class="dateRe">ปี</p><input type="TEXT" class="form-control" 
									id="birthyearBox" name="birthyearBox" placeholder="1990">

								</div>

								
								<p>ที่อยู่</p><br/>
								<textarea type="TEXT" id="addressarea" name="addressarea"> </textarea>

								<div class="form-inline">
									<p class="address" >รหัสไปรษณีย์</p>
									<input type="TEXT" class="form-control" 
									id="zip" name="zip" placeholder="zip-code" style="height:25px; background: #FAFAFA; border: 1px solid #96BBD4; font-size:18px;">
								</div>

				
							</div>
						</div>
					
					<div class="span3" style="margin-left: 120px;">
						<div role="form">
							<div class="form-group">
								<p for="surnameText">นามสกุล</p>
								<input type="TEXT" class="form-control" id="surnameBox"  name="surnameBox" placeholder="Enter Surname">
							</div>

							<div class="form-group">
								<p for="re-emailText">Re E-mail</p>
								<input type="TEXT" class="form-control" id="re-emailBox" name="re-emailBox" placeholder="Enter E-mail">
							</div>

							<div class="form-group">
								<p for="personText">ID No.</p>
								<input type="TEXT" class="form-control" id="personBox" name="personBox" placeholder="Enter ID No.">
							</div>

							<div class="form-group">
								<p for="telText">โทรศัพท์</p>
								<input type="TEXT" class="form-control" id="telBox"  name="telBox" placeholder="Enter Telephone Number">
							</div>
						</div>
					</div>
					</div> <!-- end content1 -->

			
		

					
					<div class="button">
						<button type="submit" class="btn btn-danger btn-lg">สมัคร</button>
						<button class="btn btn-danger btn-lg" style="margin-left:50px;" type="reset">รีเซ็ต</button>
					</div>
					

    			</div>
    	

    		</form>

	</body>
</html>