<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username: </p>
						<p style="display:inline" name="name"> ... </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>
					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->

			<div class="content">
				<h1> คำขอขึ้นทะเบียนวัตถุอันตราย</h1>
				<h2> วอ./กษ./กวก.๑ </h2>
		
				<form>
					
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des infoRight">
									
									<p >วันที่</p><input disabled type="TEXT" class="form-control" id="dayBox" placeholder="{{ data.dayBox }}">
									
									<p >เดือน</p><input disabled type="TEXT" class="form-control" id="monthBox" placeholder="{{ data.monthBox }}">
									
									<p >ปี</p><input disabled type="TEXT" class="form-control" id="yearBox" placeholder="{{ data.yearBox }}">
									

								</div>
							<!-- </div> -->


							
							<div class="form-group infoRight">
								
								<p>ข้าพเจ้า</p><input disabled type="TEXT" class="form-control" id="nameBox" placeholder="{{ data.nameBox }}">
								
								<p>อายุ</p><input disabled type="TEXT" class="form-control" id="ageBox" placeholder="{{ data.ageBox }}"><p> ปี </p>
								
								<p>สัญชาติ</p><input disabled type="TEXT" class="form-control" id="regionBox" placeholder="{{ data.regionBox }}">
								

							</div>


							<div class="form-group infoLeft">	</div>

							<div class="form-group infoLeft">

									<p >เลขประจำตัวผู้เสียภาษีอากร</p><input disabled type="TEXT" class="form-control" id="code-taxBox" placeholder="{{data.code_taxBox}}">

								</br>
								
								<p  >สถานที่ติต่อผู้ขอขึ้นทะเบียน</p>

								<p  >ตั้งอยู่บ้านเลขที่</p>
								<input disabled type="TEXT" class="form-control" id="address_contactBox" placeholder="{{ data.address_contactBox }}">
								

								<p >หมู่ที่</p>
								<input disabled type="TEXT" class="form-control" id="mo_contactBox" placeholder="{{ data.mo_contactBox }}">

								<p >ตรอก/ซอย</p>
								<input disabled type="TEXT" class="form-control" id="soi_contactBox" placeholder="{{ data.soi_contactBox }}">

								<br/>


								<p  >ถนน</p>
								<input disabled type="TEXT" class="form-control" id="street_contactBox" placeholder="{{ data.street_contactBox }}">

								<p  >ตำบล/แขวง</p>
								<input disabled type="TEXT" class="form-control" id="district_contactBox" placeholder="{{ data.district_contactBox }}">
								<br/>

								<p>อำเภอ/เขต</p>
								<input disabled type="TEXT" class="form-control" id="canton_contactBox" placeholder="{{ data.canton_contactBox }}">

								<p>จังหวัด</p>
								<input disabled type="TEXT" class="form-control" id="provice_contactBox" placeholder="{{ data.provice_contactBox }}">

								</br>

								<p>รหัสไปรษณีย์</p>
								<input disabled type="TEXT" class="form-control" id="zip_contactBox" placeholder="{{ data.zip_contactBox }}">


								<p>โทรศัพท์</p>
								<input disabled type="TEXT" class="form-control" id="mobile_contactBox" placeholder="{{ data.mobile_contactBox }}">
								<br/>

								<p>โทรสาร</p>
								<input disabled type="TEXT" class="form-control" id="fax_contactBox" placeholder="{{ data.fax_contactBox }}">

								<p>Email address</p>
								<input disabled type="TEXT" class="form-control" id="email_contactBox" placeholder=" {{ data.email_contactBox }}">

								<br/>
								<p>ขอขึ้นทะเบียนวัตุอันตราย</p>
								<p class="radio inline" style="margin-top: 0px; padding-top:0px;">
								 <input type="radio" name="optionsRadios"  value="type2_value" > ชนิดที่ 2
								</p>

								<p class="radio inline" style="margin-top: 0px; padding-top:0px; width:85px">
								  <input type="radio" name="optionsRadios" value="type3_value"> ชนิดที่ 3
								</p>

								<p>เพื่อ</p>

								<p class="radio inline" style="margin-top: 0px; padding-top:0px;">
								 <input type="radio" name="optionsRadios"  value="import_value" > นำเข้า
								</p>

								<p class="radio inline" style="margin-top: 0px; padding-top:0px; width:85px">
								  <input type="radio" name="optionsRadios" value="produce_value"> ผลิต
								</p>

								</br></br>
								<p> โดยมีรายละเอียด ดังนี้ </p>
								</br></br>
								
									<p>๑.ชื่อวัตถุอันตราย</p>
									<input disabled type="TEXT" class="form-control" id="hazardous_nameBox" placeholder="{{ data.hazardous_nameBox }}">

								</br>
									<p>๒.สูตรอัตราส่วนผสมและลักษณะ</p>
									<input disabled type="TEXT" class="form-control" id="fomula_nameBox" placeholder="{{ data.fomula_nameBox }}">

								</br>
									<p>๓.ชื่อทางการค้าหรือหมายเลขรหัส</p>
									<input disabled type="TEXT" class="form-control" id="official_nameBox" placeholder="{{ data.official_nameBox }}">

								</br>
									<p> ๔.ชื่อผู้ผลิตและแหล่งผลิต</p>
									<input disabled type="TEXT" class="form-control" id="producer_nameBox" placeholder="{{ data.producer_nameBox }}">

								</br>
									<p> ๕.ชื่อผู้นำเข้า</p>
									<input disabled type="TEXT" class="form-control" id="importer_name" placeholder="{{ data.importer_name }}">

								</br>
									<p> ๖.ชื่อผู้จำหน่าย/ ผู้จัดจำหน่าย</p>
									<input disabled type="TEXT" class="form-control" id="seller_nameBox" placeholder="{{ data.seller_nameBox }}"
									>

								</br>
									<p> ๗.ชนิดและลักษณะหับห่อหรือาภาชนะบรรจุ พร้อมทั้งนาดบรรจุ</p>
									<input disabled type="TEXT" class="form-control" id="package_nameBox" placeholder="{{ data.package_nameBox }}">

								</br>
									<p> ๘.ประเภทของการใช้</p>
									<input disabled type="TEXT" class="form-control" id="type_usingBox" placeholder="{{ data.type_usingBox }}">

								</br></br>
									<p> เอกสารที่และตัวอย่างที่ต้องส่งประกอบการขึ้นทะเบียน </p>
									</br></br>
									<div class="doc_zone">

									<p>
									  <input id="ID_doc_check" class="checkbox"type="checkbox" value="check">
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									  <div class="input-append infoRight">
									    <input id="ID_doc" type="text" style="width:200px; height:30px;"> 
									     <!-- <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
								    
									</p></br></br>

									<p>
									  <input id="ensure_doc_check" class="checkbox"type="checkbox" value="check">
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นิติบุคคล
									    <div class="input-append infoRight">
									    <input  id="ensure_doc" type="text" style="width:200px; height:30px;"> 
									     <!-- <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
									</p></br></br>


									<p>
									  <input id="authority_doc_check"class="checkbox"type="checkbox" value="check">
									  หนังสือมอบอำนาจ(กรณีที่มีการมอบอำนาจ)
									    <div class="input-append infoRight">
									    <input id="authority_doc" type="text" style="width:200px; height:30px;"> 
									     <!-- <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
									</p></br></br>


									<p>
									  <input id="list_info_doc_check" class="checkbox"type="checkbox" value="check">
									รายการข้อมูลเพื่อการขึ้นทะเบียนวัตถุอันตราย
									<div class="input-append infoRight" style="paddin-top:20px;">
									    <input id="list_info_doc" type="text" style="width:200px; height:30px;"> 
									    <!--  <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div> <br/><p>ตามที่กรมวิชาการเกษตรประกาศกำหรดจำนวน 6 ชุด</p>
									  
									</p></br></br>

									<p>
									  <input id="plan_doc_check"class="checkbox"type="checkbox" value="check">
									แผนการทดลองประสิทธิภาพ และพิษตกค้าง จำนวน 6 ชุด
									  <div class="input-append infoRight">
									    <input id="list_info_doc" type="text" style="width:200px; height:30px;"> 
									     <!-- <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
									</p></br></br>

									<p>
									  <input id="examplePhoto_doc_check" class="checkbox"type="checkbox" value="check">
									ตัวอย่างเอกสารหรือภาพถ่ายแสดงลักษณะหีบห่อหริอภาชนะบรรจุ
									  <div class="input-append infoRight">
									    <input id="examplePhoto_doc" type="text" style="width:200px; height:30px;"> 
									     <!-- <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
									</p></br></br>

									<p>
									  <input id="exampleLabel_doc_check" class="checkbox"type="checkbox" value="check">
									ตัวอย่างฉลากและใบแทรก
									  <div class="input-append infoRight">
									    <input id="exampleLabel_doc" type="text" style="width:200px; height:30px;"> 
									    <!--  <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
									</p></br></br>

									<p>
									  <input id="anlyse_doc_check" class="checkbox"type="checkbox" value="check">
									รายงานผลการวิเคราะห์ตัวอย่างวัตถุอันตราย
									  <div class="input-append infoRight">
									    <input id="anlyse_doc" type="text" style="width:200px; height:30px;"> 
									   <!--   <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
									</p></br></br>

									<p>
									  <input id="others_doc_check" class="checkbox"type="checkbox" value="check">
									อื่นๆ (ระบุ)
									  <div class="input-append infoRight">
									    <input  id="others_doc" type="text" style="width:200px; height:30px;"> 
									   <!--   <button class="btn btn-warning" type="button" style="height:30px;">Browes</button> -->
									 </div>
									</p></br></br>

								</div><!--doc zone-->
								<div class="button buttonView">
									<!-- <button id="home" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> กลับหน้าหลัก </button> -->

									<a href="approved/" ><button id="submit" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> อนุมัติ </button></a>

									<button id="reset" class="btn btn-inverse" type="button" style="height:30px; width: 80px;" data-toggle="modal" href="#identify_customer_modal">  ไม่อนุมัติ </button>

									<div id="identify_customer_modal" class="modal hide fade">
										 <form action="reject/" method="post">
										  <div class="modal-header">
										    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										    <h3>  เหตุผลที่เอกสารผู้ประกอบการไมผ่านการอนุมัติ </h3>
										  </div>

										  <div class="modal-body">
										    <textarea name="comment" style="margin-top:20px; width:450px; height:200px;"> </textarea>
										  </div>

										  <div class="modal-footer">
										    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">  ยกเลิก </a>
										    <a class="btn btn-primary" type="submit"> แจ้งผู้ประกอบการ </a>
										  </div>
										</form>
									</div>
								</div><!--button->
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		


	</body>
</html>