<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>


</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="{{ STATIC_URL }}img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->


		<!-- <div class="span12" style="margin:0; padding:0"> -->
			<div class="content">
				<h1> ใบสำคัญการขึ้นทะเบียนวัตถุอันตราย </h1>
				<h2> วอ./กษ./กวก.๒ </h2>
		
				<form>
					
							<!-- <div class="form-group"> -->
								<div class="date_des">
									
									<p>วันที่</p><input disabled type="TEXT" class="form-control" id="dayBox" name="dayBox" placeholder="{{form.date.date.day}}">
									
									<p>เดือน</p><input disabled type="TEXT" class="form-control" id="monthBox" name="monthBox" placeholder="{{form.date.date.month}}">
									
									<p>ปี</p><input disabled type="TEXT" class="form-control" id="yearBox" name="yearBox" placeholder="{{form.date.date.year}}">
									

								</div>
							<!-- </div> -->


							<div class="form-group infoLeft">

								<p style="margin-left:45px;">เลขที่</p>
								<input disabled type="TEXT" class="form-control" id="codeBox" placeholder="{{form.id}}">

								<p>อนุญาตให้</p>
								<input disabled type="TEXT" class="form-control" id="nameBox" name="nameBox" placeholder="{{data.nameBox}}">

							
								<p>สัญชาติ</p>
								<input disabled type="TEXT" class="form-control" id="regionBox" name="regionBox" placeholder="{{data.regionBox}}">
								
								<br/>

								<p >เลขประจำตัวผู้เสียภาษีอากร</p><input disabled type="TEXT" class="form-control" id="code_taxBox" name="code_taxBox" placeholder="{{data.code_taxBox}}">

								</br>
								</br>
								</br>
								<p style="margin-left:45px;">สถานที่ติดต่อผู้รับใบสำคัญการขึ้นทะเบียนวัตถุอันตราย </p>
							
								<p>ตั้งอยู่บ้านเลขที่</p>
								<input disabled type="TEXT" class="form-control" id="address_contactBox" name="address_contactBox" placeholder="{{data.address_contactBox}}">
								

								<p>หมู่ที่</p>
								<input disabled type="TEXT" class="form-control" id="mo_contactBox" name="mo_contactBox" placeholder="{{data.mo_contactBox}}">
								</br>
								<p>ตรอก/ซอย</p>
								<input disabled type="TEXT" class="form-control" id="soi_contactBox" name="soi_contactBox" placeholder="{{data.soi_contactBox}}" style="width:320px;">

								<p >ถนน</p>
								<input disabled type="TEXT" class="form-control" id="street_contactBox" name="street_contactBox" placeholder="{{data.street_contactBox}}" style="width:320px;">

								</br>
								<p>ตำบล/แขวง</p>
								<input disabled type="TEXT" class="form-control" id="district_contactBox" name="district_contactBox" placeholder="{{data.district_contactBox}}">
								
								<p >อำเภอ/เขต</p>
								<input disabled type="TEXT" class="form-control" id="canton_contactBox" name="canton_contactBox" placeholder="{{data.canton_contactBox}}" style="width:250px;">
								</br>
								<p >โทรศัพท์</p>
								<input disabled type="TEXT" class="form-control" id="mobile_contactBox" name="mobile_contactBox" placeholder="{{data.mobile_contactBox}}">
								
								<p>โทรสาร</p>
								<input disabled type="TEXT" class="form-control" id="fax_contactBox" name="fax_contactBox" placeholder="{{data.fax_contactBox}}">
								<br/>
								<p>Email address</p>
								<input disabled type="TEXT" class="form-control" id="email_contactBox" name="email_contactBox" placeholder="{{data.email_contactBox}}">
								
								


								</br>
								</br>
									<p> เป็นผู้รับใบสำคัญการขึ้นทะเบียนวัตถุอันตราย </p>
									<p> ชนิดที่  </p><input disabled type="TEXT" class="type" id="typeBox" placeholder="{{data.typeBox}}">

									<p> เพื่อ  </p> <input disabled type="TEXT" class="to" id="toBox" placeholder="{{data.toBox}}">
									</br>
						
									</p>

								
									<p>๑.ชื่อวัตถุอันตราย</p>
									<input disabled type="TEXT" class="form-control" id="hazardous_nameBox" name="hazardous_nameBox" placeholder="{{data.hazardous_nameBox}}" style="margin-left:100px;">

								</br>
									<p>๒.สูตรอัตราส่วนผสมและลักษณะ</p>
									<input disabled type="TEXT" class="form-control" id="fomula_nameBox" name="fomula_nameBox" placeholder="{{data.fomula_nameBox}}">

								</br>
									<p>๓.ชื่อทางการค้าหรือหมายเลขรหัส</p>
									<input disabled type="TEXT" class="form-control" id="official_nameBox" name="official_nameBox" placeholder="{{data.official_nameBox}}" style="margin-left:10px;">

								</br>
									<p> ๔.ชื่อผู้ผลิตและแหล่งผลิต</p>
									<input disabled type="TEXT" class="form-control" id="producer_nameBox" name="producer_nameBox" placeholder="{{data.producer_nameBox}}" style="margin-left:65px;">

								</br>
									<p> ๕.ชื่อผู้นำเข้า</p>
									<input disabled type="TEXT" class="form-control" id="importer_name" name="importer_name" placeholder="{{data.importer_name}}" style="margin-left:150px;">

								</br>
									<p> ๖.ชื่อผู้จำหน่าย/ ผู้จัดจำหน่าย</p>
									<input disabled type="TEXT" class="form-control" id="seller_nameBox" name="seller_nameBox" placeholder="{{data.seller_nameBox}}" style="margin-left:30px;"
									>

								</br>
									<p> ๗.วัตถุประสงค์ของการใช้</p>
									<input disabled type="TEXT" class="form-control" id="type_usingBox" name="type_usingBox" placeholder="{{data.type_usingBox}}" style="margin-left:65px;">


								</br>
									<p> ๘.ชนิดและลักษณะหับห่อหรือาภาชนะบรรจุ พร้อมทั้งขนาดบรรจุ</p>
									<input disabled type="TEXT" class="form-control" id="package_nameBox" name="package_nameBox" placeholder="{{data.package_nameBox}}">

									<div class="button buttonView">
								<button class="btn btn-inverse" type="button" style="height:30px; width: 80px;"onclick="window.location.href='/list'">กลับ</button>
								</div>
								</form>
								</div><!--doc zone-->
								
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		<!-- </div> -->


	</body>
</html>