<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	
	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
			
			$('.carousel').carousel('cycle');
			$('#modal-button').click(function(e){
			      e.preventDefault();
			      window.location = "reject?comment=" + $("#comment").val()
			});

			{% if not file.notifyButton %}
			$('#notifyButton').attr("disabled", "disabled");
			{% endif %}
			$('#notifyButton').click(function(e){
			     
			      window.open("/file/{{file.notifyButton.id}}");
			});

			{% if not file.permitCopyButton %}
			$('#permitCopyButton').attr("disabled", "disabled");
			{% endif %}
			$('#permitCopyButton').click(function(e){
			     
			     window.open("/file/{{file.permitCopyButton.id}}");
			});


			{% if not file.idButton %}
			$('#idButton').attr("disabled", "disabled");
			{% endif %}
			$('#idButton').click(function(e){
			     
			     window.open("/file/{{file.idButton.id}}");
			});

			{% if not file.personButton %}
			$('#personButton').attr("disabled", "disabled");
			{% endif %}
			$('#personButton').click(function(e){
			     
			     window.open("/file/{{file.personButton.id}}");
			});

			{% if not file.subButton %}
			$('#subButton').attr("disabled", "disabled");
			{% endif %}
			$('#subButton').click(function(e){
			     
			      window.open("/file/{{file.subButton.id}}");
			});
			
		});
	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			
		</header>
		<!--header end -->


		
			<div class="content">
				<h1> คำขอใบแทน ใบอนุญาตขึ้นทะเบียนวัตถุอันตราย </h1>
				
		
				<form action="" method="post">
							{% csrf_token %}
							<input type="hidden" name="form_type" value="register_substitute">
							<!-- <div class="form-group"> -->
							<div class="form-inline date_des">
									
									<p >วันที่</p><input readonly type="TEXT" class="form-control"  name="dayBox" id="dayBox" placeholder="{{form.date.date.day}}">
									
									<p >เดือน</p><input readonly type="TEXT" class="form-control" name="monthBox" id="monthBox" placeholder="{{form.date.date.month}}">
									
									<p>ปี</p><input readonly type="TEXT" class="form-control" name="yearBox" id="yearBox" placeholder="{{form.date.date.year}}">
									

								</div>
							<!-- </div> -->


							
							<div class="form-group infoRight">
								
								<p >ข้าพเจ้า</p><input readonly type="TEXT" class="form-control" name="nameBox" id="nameBox" placeholder="{{data.nameBox}}">
								
								<p >อายุ</p><input readonly type="TEXT" class="form-control" name="ageBox" id="ageBox" placeholder="{{data.ageBox}}"><p> ปี </p>
								
								<p >สัญชาติ</p><input readonly type="TEXT" class="form-control" name="regionBox" id="regionBox" placeholder="{{data.regionBox}}">
								

							</div>


							<div class="form-group infoLeft">		
							</div>

							<div class="form-group infoLeft">

								<p >เลขประจำตัวผู้เสียภาษีอากร</p><input readonly type="TEXT" class="form-control" name="code_taxBox" id="code_taxBox" placeholder="{{data.code_taxBox}}">

								</br>
								
								<p >สถานที่ติดต่อผู้ขอขึ้นทะเบียน</p>

								<p >ตั้งอยู่บ้านเลขที่</p>
								<input type="TEXT" readonly class="form-control" name="address_contactBox" id="address_contactBox" placeholder="{{data.address_contactBox}}">
								

								<p >หมู่ที่</p>
								<input type="TEXT" readonly class="form-control" name="mo_contactBox" id="mo_contactBox" placeholder="{{data.mo_contactBox}}">

								<p >ตรอก/ซอย</p>
								<input type="TEXT" readonly class="form-control" name="soi_contactBox" id="soi_contactBox" placeholder="{{data.soi_contactBox}}">

								<br/>


								<p  >ถนน</p>
								<input type="TEXT" readonly class="form-control" name="street_contactBox" id="street_contactBox" placeholder="{{data.street_contactBox}}">

								<p >ตำบล/แขวง</p>
								<input type="TEXT" readonly class="form-control" name="district_contactBox" id="district_contactBox" placeholder="{{data.district_contactBox}}">
								<br/>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" readonly class="form-control" name="canton_contactBox" id="canton_contactBox" placeholder="{{data.canton_contactBox}}">

								<p>จังหวัด</p>
								<input type="TEXT" readonly class="form-control" name="provice_contactBox"  id="provice_contactBox" placeholder="{{data.provice_contactBox}}">

								</br>

								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" readonly class="form-control" name="zip_contactBox" id="zip_contactBox" placeholder="{{data.zip_contactBox}}">


								<p  >โทรศัพท์</p>
								<input type="TEXT" readonly class="form-control" name="mobile_contactBox" id="mobile_contactBox" placeholder="{{data.mobile_contactBox}}">
								<br/>
								<p >โทรสาร</p>
								<input type="TEXT" readonly class="form-control" name="fax_contactBox" id="fax_contactBox" placeholder="{{data.fax_contactBox}}">

								<!-- <p >Email address</p>
								<input type="TEXT" readonly class="form-control" name="email_contactBox" id="email_contactBox" placeholder="{{data.email_contactBox}}"> -->
								
								</br>

								<p >ข้าพเจ้า เป็นผู้รับใบอนุญาตขึ้นทะเบียน วัตถุอันตราย เลขที่ </p>
								<input type="TEXT" readonly class="form-control" name="number_Box" id="number_Box" placeholder="{{data.form_id}}">
								
								</br>
								<p >เหตุผลที่ขอรับใบแทนใบอนุญาต </p>
								<input type="TEXT" readonly class="form-control" name="reason_Box" id="reason_Box" placeholder="{{data.reason_Box}}">


								</br></br>
									<p> พร้อมกับคำขอนี้ ข้าพเจ้าได้แนบเอกสารหลักฐานต่างๆ </p>
									</br></br>
									<div class="doc_zone">

										
									<p class="checkboxLabel">
								
									  หลักฐานการแจ้งความใบอนุญาตสูญหาย
									  <div class="input-append infoRight">
									   
									     <button id="notifyButton" name="notifyButton"class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
								    </p></br></br>

								    <p class="checkboxLabel">
									  <!-- <input id="old_doc_check" class="checkbox"type="checkbox" value="check"> -->
									  ใบอนุญาตที่ชำรุด/สำเนาใบอนุญาต
									  <div class="input-append infoRight">
									   
									     <button id="permitCopyButton" name="permitCopyButton" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
								    </p></br></br>
									
									
									<p class="checkboxLabel">
									 
									  สำเนาบัตรประชาชน / สำเนาใบสำคัญประจำคนต่างด้าว
									  <div  class="input-append infoRight">
									  
									     <button id="idButton" name="idButton"  class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
								    </p></br></br>


									<p class="checkboxLabel">
									 
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นนิติบุคคล
									    <div id="ensure_doc" class="input-append infoRight">
									    <!-- <input type="text" style="width:200px; height:30px;">  -->
									     <button id="personButton" name="personButton" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>	

									<p class="checkboxLabel">
									  <input  readonly id="authorize_doc_check" class="checkbox"type="checkbox" value="">
									  หนังสือมอบอำนาจ(กรณีที่มีการมอบอำนาจ)
									    <div id="authorize_doc" class="input-append infoRight">
									    <!-- <input type="text" style="width:200px; height:30px;">  -->
									     <button id="subButton" name="subButton" class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


							

				
								

								</div><!--doc zone-->

								<div class="button buttonView">
									<!-- <button id="home" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> กลับหน้าหลัก </button> -->
									<a href="approved/" ><button id="submit" class="btn btn-inverse" type="button" style="height:30px; width: 80px;"> อนุมัติ </button></a>
									<button id="reset" class="btn btn-inverse" type="button" style="height:30px; width: 80px;" data-toggle="modal" href="#identify_customer_modal">  ไม่อนุมัติ </button>
									<div id="identify_customer_modal" class="modal hide fade">
										 <form id="modal-form">
										 {%csrf_token%}
										  <div class="modal-header">
										    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										    <h3>  เหตุผลที่เอกสารผู้ประกอบการไมผ่านการอนุมัติ </h3>
										  </div>
										  <div class="modal-body">
										    <textarea id="comment" name="comment" style="margin-top:20px; width:450px; height:200px;"> </textarea>
										  </div>
										  <div class="modal-footer">
										    <button href="#" class="btn" data-dismiss="modal" aria-hidden="true">  ยกเลิก </button>
										    <button class="btn btn-primary" type="submit" id="modal-button"> แจ้งผู้ประกอบการ </button>
										  </div>
										</form>
									</div>
								</div>
										
							</div><!-- infoleft -->


							
				
			</div><!--content-->
		</div>


	</body>
</html>