<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('static/fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('static/fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('static/fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('static/fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>


</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> เอกสาร </a>

						</li>
						<li class="logo">
							<img src="static/img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			<div class="logo">
				<!-- <img src="static/img/logo-color.png"> -->
			</div>
		</header>
		<!--header end -->


		<!-- <div class="span12" style="margin:0; padding:0"> -->
			<div class="content">
				<h1> ใบอนุญาตนำเข้าตัวอย่างวัตถุอันตราย </h1>
				<h2> วอ./กษ./กวก.๑๔ </h2>
		
				<form>
						{% csrf_token %}
							<!-- <div class="form-group"> -->
								<div class="date_des">
									
									<p >วันที่</p><input disabled type="TEXT" class="form-control"  id="dayBox" value="{{date.day}}">
									
									<p >เดือน</p><input disabled type="TEXT" class="form-control"  id="monthBox" value="{{date.month}}">
									
									<p>ปี</p><input disabled type="TEXT" class="form-control"  id="yearBox" value="{{date.year}}">
									

								</div>
							<!-- </div> -->


							<div class="form-group infoLeft">

								<p>ใบอนุญาตเลขที่</p>
								<input readonly type="TEXT" class="form-control" name="codeBox" id="codeBox" placeholder="{{data.form_id}}">

								<p>อนุญาตให้</p>
								<input readonly type="TEXT" class="form-control" name="nameBox" id="nameBox" placeholder="{{data.nameBox}}" style="width:300px;">

								</br>
								<p>สัญชาติ</p>
								<input readonly type="TEXT" class="form-control" name="regionBox" id="regionBox" placeholder="{{data.regionBox}}">
								
								
								<p>เลขประจำตัวผู้เสียภาษีอากร</p>
								<input readonly type="TEXT" class="form-control"  name="code_taxBox" id="code-taxBox" placeholder="{{data.code_taxBox}}">

								</br>
								<p>สถานที่ติดต่อผู้รับใบอนุญาต </p>
								<p>ตั้งอยู่เลขที่</p>
								<input readonly type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" placeholder="{{data.address_contactBox}}">
								
								<p>หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" name="mo_contactBox" id="mo_contactBox" placeholder="{{data.mo_contactBox}}">

								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" placeholder="{{data.soi_contactBox}}">

								<br/>

								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" placeholder="{{data.street_contactBox}}">

								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" placeholder="{{data.district_contactBox}}">
								
								<br/>
								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" placeholder="{{data.canton_contactBox}}">
								
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" name="province_contactBox" id="province_contactBox" placeholder="{{data.province_contactBox}}">
								
								<br/>
								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" placeholder="{{data.zip_contactBox}}">
								
								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" placeholder="{{data.mobile_contactBox}}">
								
								<br/>
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" name="fax_contactBox" id="fax_contactBox" placeholder="{{data.fax_contactBox}}">

							
								
								<br/>
								<p>ชื่อและที่อยู่ของสถานที่เก็บรักษาวัตถุอันตราย  ชื่อ</p>
								<input readonly type="TEXT" class="form-control" name="name_storage" id="name_storage" placeholder="{{data.name_storage}}">
								
								<br/>
								<p>ตั้งอยู่เลขที่</p>
								<input readonly type="TEXT" class="form-control" name="address_storage" id="address_storage" placeholder="{{data.address_storage}}" style="width:50px;">
								

								<p>หมู่ที่</p>
								<input readonly type="TEXT" class="form-control" name="mo_storage" id="mo_storage" placeholder="{{data.mo_storage}}" style="width:50px;">

								<p>ตรอก/ซอย</p>
								<input readonly type="TEXT" class="form-control" name="soi_storage" id="soi_storage" placeholder="{{data.soi_storage}}" style="width:50px">

								<br/>
								<p>ถนน</p>
								<input readonly type="TEXT" class="form-control" name="street_storage" id="street_storage" placeholder="{{data.street_storage}}">

								<p>ตำบล/แขวง</p>
								<input readonly type="TEXT" class="form-control" name="district_storage" id="district_storage" placeholder="{{data.district_storage}}">
								
								<br/>
								<p>อำเภอ/เขต</p>
								<input readonly type="TEXT" class="form-control" name="canton_storage" id="canton_storage" placeholder="{{data.canton_storage}}">
								
								<p>จังหวัด</p>
								<input readonly type="TEXT" class="form-control" name="province_storage" id="province_storage" placeholder="{{data.province_storage}}">
								
								<br/>
								<p>รหัสไปรษณีย์</p>
								<input readonly type="TEXT" class="form-control" name="zip_storage" id="zip_storage" placeholder="{{data.zip_storage}}">

								<p>โทรศัพท์</p>
								<input readonly type="TEXT" class="form-control" name="mobile_storage" id="mobile_storage" placeholder="{{data.mobile_storage}}">
								
								<br/>
								<p>โทรสาร</p>
								<input readonly type="TEXT" class="form-control" name="fax_storage" id="fax_storage" placeholder="{{data.fax_storage}}">
								

								</br></br>
									<p> เป็นผู้รับใบอนุญาตนำเข้าตัวอย่างวัตถุอันตรายเพื่อใช้ในการขึ้นทะเบียน  ดังนี้ </p><br><br>
								
									<p>๑.ชื่อวัตถุอันตราย</p>
									<input readonly type="TEXT" class="form-control" name="hazardous_nameBox" id="hazardous_nameBox" placeholder="{{data.harzardous_nameBox}}">

								</br>
									<p>๒.สูตรอัตราส่วนผสมของสารสำคัญและลักษณะ</p>
									<input readonly type="TEXT" class="form-control" name="solution_nameBox" id="solution_nameBox" placeholder="{{data.solution_nameBox}}">

								</br>
									<p>๓.ชื่อทางการค้าหรือหมายเลขรหัส</p>
									<input readonly type="TEXT" class="form-control" name="official_nameBox" id="official_nameBox" placeholder="{{data.official_nameBox}}">

								</br>
									<p>๔.ชื่อผู้ผลิตและแหล่งผลิต</p>
									<input readonly type="TEXT" class="form-control" name="producer_nameBox" id="producer_nameBox" placeholder="{{data.producer_nameBox}}">

								</br>
									<p>๕.ชื่อผู้นำเข้า</p>
									<input readonly type="TEXT" class="form-control" name="importer_nameBox" id="importer_nameBox" placeholder="{{data.importer_nameBox}}">

								</br>
									<p> ๖.ปริมาณ</p>
									<input readonly type="TEXT" class="form-control" name="seller_nameBox" id="seller_nameBox" placeholder="{{data.seller_namebox}}"
									>

								</br>
									<p> ๗.อื่นๆ(ระบุ)</p>
									<input readonly type="TEXT" class="form-control" name="type_usingBox" id="type_usingBox" placeholder="{{data.type_usingBox}}">

								</br>
								<p>ใบอนุญาตนี้ใช้ได้จนถึงวันที่ </p><input readonly type="TEXT" class="form-control" id="dayBox2" placeholder="TODO" style="width:50px;">
								<p> เดือน </p><input readonly type="TEXT" class="form-control" id="monthBox2" placeholder="" style="width:50px;">
								<p> พ.ศ. </p><input readonly type="TEXT" class="form-control" id="yearBox2" placeholder="" style="width:50px;">
								</br>
									
									<div class="button buttonView" >
										<button class="btn btn-inverse" type="button" style="height:30px; width: 80px;"onclick="window.location.href='/list'">กลับ</button>
									</div>

								</div><!--doc zone-->
								
										
							</div><!-- infoleft -->

							
				</form><!--form-->
			</div><!--content-->
		<!-- </div> -->


	</body>
</html>