<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username: </p>
						<p style="display:inline" name="name"> ... </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			
		</header>
		<!--header end -->


		
			<div class="content">
				<h1> คำขอใบแทนใบขึ้นทะเบียนวัตุอันตราย </h1>
				
		
				<form action="" method="post">
							{% csrf_token %}
							<input type="hidden" name="form_type" value="register_modify">
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									
									<p >วันที่</p><input type="TEXT" class="form-control"  name="dayBox" id="dayBox" placeholder="">
									
									<p >เดือน</p><input type="TEXT" class="form-control" name="monthBox" id="monthBox" placeholder="">
									
									<p>ปี</p><input type="TEXT" class="form-control" name="yearBox" id="yearBox" placeholder="">
									

								</div>
							<!-- </div> -->


							
							<div class="form-group infoRight">
								
								<p >ข้าพเจ้า</p><input type="TEXT" class="form-control" name="nameBox" id="nameBox" placeholder="">
								
								<p >อายุ</p><input type="TEXT" class="form-control" name="ageBox" id="ageBox" placeholder=""><p> ปี </p>
								
								<p >สัญชาติ</p><input type="TEXT" class="form-control" name="regionBox" id="regionBox" placeholder="">
								

							</div>


							<div class="form-group infoLeft">		
							</div>

							<div class="form-group infoLeft">

								<p >เลขประจำตัวผู้เสียภาษีอากร</p><input type="TEXT" class="form-control" name="code_taxBox" id="code_taxBox" placeholder="">

								</br>
								
								<p >สถานที่ติต่อผู้ขอขึ้นทะเบียน</p>

								<p >ตั้งอยู่บ้านเลขที่</p>
								<input type="TEXT" class="form-control" name="address_contactBox" id="address_contactBox" placeholder="">
								

								<p >หมู่ที่</p>
								<input type="TEXT" class="form-control" name="mo_contactBox" id="mo_contactBox" placeholder="">

								<p >ตรอก/ซอย</p>
								<input type="TEXT" class="form-control" name="soi_contactBox" id="soi_contactBox" placeholder="">

								<br/>


								<p  >ถนน</p>
								<input type="TEXT" class="form-control" name="street_contactBox" id="street_contactBox" placeholder="">

								<p >ตำบล/แขวง</p>
								<input type="TEXT" class="form-control" name="district_contactBox" id="district_contactBox" placeholder="">
								<br/>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" class="form-control" name="canton_contactBox" id="canton_contactBox" placeholder="">

								<p>จังหวัด</p>
								<input type="TEXT" class="form-control" name="provice_contactBox"  id="provice_contactBox" placeholder="">

								</br>

								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" class="form-control" name="zip_contactBox" id="zip_contactBox" placeholder="">


								<p  >โทรศัพท์</p>
								<input type="TEXT" class="form-control" name="mobile_contactBox" id="mobile_contactBox" placeholder="">
								<br/>
								<p >โทรสาร</p>
								<input type="TEXT" class="form-control" name="fax_contactBox" id="fax_contactBox" placeholder="">

								<p >Email address</p>
								<input type="TEXT" class="form-control" name="email_contactBox" id="email_contactBox" placeholder="">
								
								</br>

								<p >ข้าพเจ้า เป็นผู้รับใบอนุญาตขึ้นทะเบียน วัตถุอันตราย เลขที่ </p>
								<input type="TEXT" class="form-control" name="number_Box" id="number_Box" placeholder="">
								
								<p >เหตุผลที่ขอรับใบแทนใบอนุญาต </p>
								<input type="TEXT" class="form-control" name="number_Box" id="number_Box" placeholder="">


								</br></br>
									<p> พร้อมกับคำขอนี้ ข้าพเจ้าได้แนบเอกสารหัลกฐานต่างๆ </p>
									</br></br>
									<div class="doc_zone">

										
									<p class="checkboxLabel">
									  <input id="notify_doc_check" class="checkbox"type="checkbox" value="">
									  หลักฐานการแจ้งความใบอนุญาตสูญหาย
									  <div class="input-append infoRight">
									    <input type="text" style="width:200px; height:30px;"> 
									     <button id="notify_doc"class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
								    </p></br></br>

								    <p class="checkboxLabel">
									  <input id="old_doc_check" class="checkbox"type="checkbox" value="">
									  ใบอนุญาตที่ชำรุด/สำเนาใบอนุญาต
									  <div class="input-append infoRight">
									    <input type="text" style="width:200px; height:30px;"> 
									     <button id="old_doc"class="btn btn-warning" type="button" style="height:30px;">Browse</button>
									 </div>
								    </p></br></br>
									
									
									<p class="checkboxLabel">
									  <input id="ID_doc_check" class="checkbox"type="checkbox" value="">
									  สำเนาบัตรประชาชน / สำเนาใบสำคญประจำคนต่างด้าว
									  <div id="ID_doc" class="input-append infoRight">
									    <input type="text" style="width:200px; height:30px;"> 
									     <button class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
								    </p></br></br>


									<p class="checkboxLabel">
									  <input id="ensure_doc_check" class="checkbox"type="checkbox" value="">
									  สำเนาหนังสือรับรองการจดทะเบียนเป็นิติบุคคล
									    <div id="ensure_doc" class="input-append infoRight">
									    <input type="text" style="width:200px; height:30px;"> 
									     <button class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>	

									<p class="checkboxLabel">
									  <input  id="authorize_doc_check" class="checkbox"type="checkbox" value="">
									  หนังสือมอบอำนาจ(กรณีที่มีการมอบอำนาจ)
									    <div id="authorize_doc" class="input-append infoRight">
									    <input type="text" style="width:200px; height:30px;"> 
									     <button class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>


							

									<p class="checkboxLabel">
									  <input  id="envidence_doc_check"  class="checkbox"type="checkbox" value="">
									หลักฐานที่เกี่ยวข้องเพื่อประกอบการขอแก้ไขเปลี่ยนแปลง ดังนี้
									  <div   id="envidence_doc" class="input-append infoRight">
									    <input type="text" style="width:200px; height:30px;"> 
									     <button class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

									


						

									<p class="checkboxLabel">
									  <input  d="others_doc_check" class="checkbox"type="checkbox" value="">
									อื่นๆ (ระบุ)
									  <div id="others_doc" class="input-append infoRight">
									    <input  id="others" type="text" style="width:200px; height:30px;"> 
									     <button class="btn btn-warning" type="button" style="height:30px;">ดูเอกสาร</button>
									 </div>
									</p></br></br>

								</div><!--doc zone-->
								<div class="button buttonRequest">
								<button class="btn btn-inverse" type="submit" style="height:30px; width: 80px;">ส่งเอกสาร</button>

								<button class="btn btn-inverse" type="button" style="height:30px; width: 80px;">รีเซ็ต</button>
							</div>
										
							</div><!-- infoleft -->

							
				
			</div><!--content-->
		</div>


	</body>
</html>