<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="ROBOTS" content="NOINDEX,NOFOLLOW">
	<title>Hazard Web</title>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap3.min.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrapTheme3.min.css"> -->


	<link rel="stylesheet" href="{{ STATIC_URL }}css/hazardTheme.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/register.css" type="text/css" media="screen" charset="utf-8">
	<meta name="viewport" content="width=deivce-width, initial-scale=1.0">
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	

	<script type="text/javascript" charset="utf-8">

	$(window).resize(function() {
		rs();
	}).load(function() {
		rs();
	});

	
	}
	</script>

	<script type="text/javascript">

		$(document).ready(function(){
			$('.carousel').carousel('cycle');
		});

	</script>

	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$('.menu-toggle').click(function() {
				$('.head_nav').toggleClass('menu-expand');
				if ($('.menu-vertical').is(':visible')) {
					$('.menu-vertical').hide();
				}
				else {
					$('.menu-vertical').show();
				}
			});

			$('.menu-vertical').hide();

		});

	</script>

	<style type="text/css">
	
		@font-face {
				    font-family: 'thai_sans_lite';
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.eot');
				    src: url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.woff') format('woff'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.ttf') format('truetype'),
				         url('{{ STATIC_URL }}fonts/thaisan/thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');
				    font-weight: normal;
				    font-style: normal;

		}

	</style>
</head>

	<body style="overflow: auto;">

		<!--header-->
		<header>
			<div class="header_block">
					<nav class="head_nav">

					<!-- DESKTOP -->
					<ul class="mainmenu visible-desktop visible-tablet">
						<!-- <li class="login dropdown pull-right" style = " padding-left: 0px;"> -->
						<li class="" style="margin-left: 50px;">
								<a href="/list"> ขอเอกสาร </a>

						</li>
						<li class="logo">
							<img src="{{ STATIC_URL }}img/hazard.min.png">

						</li>
						<li><a href="/list" class="dropdown-toggle" data-toggle="dropdown" 
							style="margin-left: 200px;">ข้อมูลส่วนตัว</a>
							
						</li>

					</ul>

					<div class="info_id">
						<p style="display:inline" style="font-size:10px;"> username:</p>
						<p style="display:inline" name="name">{{user.username}} </p>
						<a href="/logout"> ออกจากระบบ </a>
					</div>

				</nav>

					
			</div>
			
		</header>
		<!--header end -->


		
			<div class="content">
				<h1> ใบแทนใบอนุญาตขึ้นทะเบียนวัตถุอันตราย</h1>
				
		
				<form action="" method="post">
							{% csrf_token %}
							<input type="hidden" name="form_type" value="register_substitute">
							<!-- <div class="form-group"> -->
								<div class="form-inline date_des">
									
									<p>วันที่</p><input disabled type="TEXT" class="form-control" id="dayBox" name="dayBox" placeholder="{{form.date.date.day}}">
									
									<p>เดือน</p><input disabled type="TEXT" class="form-control" id="monthBox" name="monthBox" placeholder="{{form.date.date.month}}">
									
									<p>ปี</p><input disabled type="TEXT" class="form-control" id="yearBox" name="yearBox" placeholder="{{form.date.date.year}}">
									

								</div>
							<!-- </div> -->


							
							<div class="form-group infoRight">
								
								<p >ข้าพเจ้า</p><input disabled type="TEXT" class="form-control" name="nameBox" id="nameBox" placeholder="{{data.nameBox}}">
								
								<p >อายุ</p><input disabled type="TEXT" class="form-control" name="ageBox" id="ageBox" placeholder="{{data.ageBox}}"><p> ปี </p>
								
								<p >สัญชาติ</p><input disabled type="TEXT" class="form-control" name="regionBox" id="regionBox" placeholder="{{data.regionBox}}">
								

							</div>


							<div class="form-group infoLeft">		
							</div>

							<div class="form-group infoLeft">

								<p >เลขประจำตัวผู้เสียภาษีอากร</p><input disabled type="TEXT" class="form-control" name="code_taxBox" id="code_taxBox" placeholder="{{data.code_taxBox}}">

								</br>
								
								<p >สถานที่ติดต่อผู้ขอขึ้นทะเบียน</p>

								<p >ตั้งอยู่บ้านเลขที่</p>
								<input type="TEXT" disabled class="form-control" name="address_contactBox" id="address_contactBox" placeholder="{{data.address_contactBox}}">
								

								<p >หมู่ที่</p>
								<input type="TEXT" disabled class="form-control" name="mo_contactBox" id="mo_contactBox" placeholder="{{data.mo_contactBox}}">

								<p >ตรอก/ซอย</p>
								<input type="TEXT" disabled class="form-control" name="soi_contactBox" id="soi_contactBox" placeholder="{{data.soi_contactBox}}">

								<br/>


								<p  >ถนน</p>
								<input type="TEXT" disabled class="form-control" name="street_contactBox" id="street_contactBox" placeholder="{{data.street_contactBox}}">

								<p >ตำบล/แขวง</p>
								<input type="TEXT" disabled class="form-control" name="district_contactBox" id="district_contactBox" placeholder="{{data.district_contactBox}}">
								<br/>
								<p>อำเภอ/เขต</p>
								<input type="TEXT" disabled class="form-control" name="canton_contactBox" id="canton_contactBox" placeholder="{{data.canton_contactBox}}">

								<p>จังหวัด</p>
								<input type="TEXT" disabled class="form-control" name="provice_contactBox"  id="provice_contactBox" placeholder="{{data.provice_contactBox}}">

								</br>

								<p>รหัสไปรษณีย์</p>
								<input type="TEXT" disabled class="form-control" name="zip_contactBox" id="zip_contactBox" placeholder="{{data.zip_contactBox}}">


								<p  >โทรศัพท์</p>
								<input type="TEXT" disabled class="form-control" name="mobile_contactBox" id="mobile_contactBox" placeholder="{{data.mobile_contactBox}}">
								<br/>
								<p >โทรสาร</p>
								<input type="TEXT" disabled class="form-control" name="fax_contactBox" id="fax_contactBox" placeholder="{{data.fax_contactBox}}">

								<!-- <p >Email address</p>
								<input type="TEXT" disabled class="form-control" name="email_contactBox" id="email_contactBox" placeholder="{{data.email_contactBox}}"> -->
								
								</br>

								<p >ข้าพเจ้า เป็นผู้รับใบอนุญาตขึ้นทะเบียน วัตถุอันตราย เลขที่ </p>
								<input type="TEXT" disabled class="form-control" name="number_Box" id="number_Box" placeholder="{{data.form_id}}">
								</br>
								<p > ใช้ใบแทน เนื่องจาก </p>
								<input type="TEXT" disabled class="form-control" name="reason_Box" id="reason_Box" placeholder="{{data.reason_Box}}">
								
								<div class="button buttonView">
								<button class="btn btn-inverse" type="button" style="height:30px; width: 80px;"onclick="window.location.href='/list'">กลับ</button>
								</div>
							</div>
										
							</div><!-- infoleft -->

							
				
			</div><!--content-->
		</div>


	</body>
</html>